@media screen and (min-width: 1320px) {
  .media-query {
    display: none;
    content: "bp5";
    width: 5px;
  }

  // -------------------------------------------------------------------------
  // Layout Styles
  // -------------------------------------------------------------------------
  .container {
    width: 1320px;
    padding: 0 120px;
  }

  // -------------------------------------------------------------------------
  // Header Styles
  // -------------------------------------------------------------------------
  .front header.region,
  .page-home header.region {
    height: 719px;
  }

  #global-menu .container {
    width: 1140px;
  }

  header.region .container {
    width: 1320px;
    padding: 0 60px;
  }

  #block-menu_block-2 ul {
    padding-left: 5rem;
  }

  .fotoheader-wrapper {
    height: 715px;
  }

  header.region .logo {
    margin-left: 40px;
  }

  // -------------------------------------------------------------------------
  // Navigation Styles
  // -------------------------------------------------------------------------
  #block-menu-menu-menu-2014-top {
    width: 1320px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 0 60px;
    top: 220px;
    overflow: visible;
    z-index: 105;
  }

  #block-menu-menu-menu-2014-top ul {
    float: right;
    margin-right: 90px;
    margin-top: -33px;
  }

  #block-menu_block-4 {
    width: 1320px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 0 60px;
    top: 187px;
  }

  #block-menu_block-4::before {
    margin-left: 1129px;
  }

  #block-menu_block-4 .content::before {
    float: right;
  }

  #block-menu_block-4 .content ul.menu {
    margin-top: 13px;
    margin-right: -50px;
  }

  #block-menu_block-3 {
    width: 90%;
    z-index: 102;
    top: -4px;
  }

  #block-menu_block-3 h2 {
    margin-left: 23.4%;
    display: inline-block;
    margin-top: -20px;
  }

  #block-menu_block-3 .content {
    margin-top: -10px;
  }

  #block-menu_block-2 ul li a {
    font-size: 2.2rem;
  }

  #block-menu-menu-menu-2014-top ul li a,
  #block-menu_block-4 .content::before {
    font-size: 1.7rem;
  }

  // -------------------------------------------------------------------------
  // Footer Styles
  // -------------------------------------------------------------------------
  footer.region .container {
    width: 1320px;
    padding: 0 120px;
  }

  // Children blocks
  main.has-children #children .item-list > ul li.views-row {
    width: 348px;
  }

  // Sidebar blocks
  .page-home #sidebar {
    right: 120px;
    width: 31%;
  }
}

@media screen and (min-width: 1210px) {
  .media-query {
    display: none;
    width: 4px;
  }

  // -------------------------------------------------------------------------
  // Layout Styles
  // ----------------------------------------------------------------------------
  .container {
    width: 1210px;
    padding: 0 65px; /* Zo is de content 1080px breed. */
  }

  .front main .content {
    width: 100%;
  }

  // -------------------------------------------------------------------------
  // Header Styles
  // -------------------------------------------------------------------------
  header.region {
    background: url(../img/header_ribbon-2550.png) no-repeat center top transparent;
    height: 260px;
  }

  .front header.region,
  .page-home header.region {
    height: 584px;
  }

  #global-menu .container {
    width: 1120px;
  }

  .fotoheader-wrapper {
    height: 580px;
  }

  header.region .logo {
    width: 82px;
    padding-top: 80px;
    margin-left: 0px;
  }

  header.region .logo a {
    width: 82px;
  }

  // -------------------------------------------------------------------------
  // Navigation Styles
  // -------------------------------------------------------------------------
  #block-menu-menu-menu-2014-top {
    top: 210px;
    left: 58.5%;
  }

  #block-menu-menu-menu-2014-top ul li::before {
    width: 9px;
    border-top: 6px solid transparent;
    border-left: 7px solid #BDD732;
    border-bottom: 6px solid transparent;
    margin-bottom: 0px;
  }

  #block-menu_block-2 {
    margin-top: 75px;
    margin-right: -15px;
  }

  #block-menu_block-2 ul {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #block-menu_block-2 ul li {
    max-width: 17rem;
    box-sizing: border-box;
  }

  #block-menu_block-2 ul li a {
    font-size: 2.1rem;
    display: table-cell;
    vertical-align: middle;
    background-size: 990px;
  }

  #block-menu_block-2 ul li a:hover {
    color: #48454B;
  }

  #block-menu_block-2 ul li:nth-child(1) a {
    background-position: 10px 26px;
  }

  #block-menu_block-2 ul li:nth-child(1) a:hover {
    background-position: 10px -55px;
  }

  #block-menu_block-2 ul li:nth-child(2) a {
    background-position: -135px 26px;
  }

  #block-menu_block-2 ul li:nth-child(2) a:hover {
    background-position: -135px -55px;
  }

  #block-menu_block-2 ul li:nth-child(3) a {
    background-position: -111px 26px;
  }

  #block-menu_block-2 ul li:nth-child(3) a:hover {
    background-position: -111px -55px;
  }

  #block-menu_block-2 ul li:nth-child(4) a {
    background-position: -420px 50px;
  }

  #block-menu_block-2 ul li:nth-child(4) a:hover {
    background-position: -420px -31px;
  }

  #block-menu_block-2 ul li:nth-child(5) a {
    background-position: -583px 50px;
  }

  #block-menu_block-2 ul li:nth-child(5) a:hover {
    background-position: -583px -31px;
  }

  #block-menu_block-2 ul li:nth-child(6) a {
    background-position: -718px 26px;
  }

  #block-menu_block-2 ul li:nth-child(6) a:hover {
    background-position: -718px -55px;
  }

  #block-menu_block-2 ul li:nth-child(7) a {
    background-position: -889px 50px;
  }

  #block-menu_block-2 ul li:nth-child(7) a:hover {
    background-position: -889px -31px;
    color: #572600;
  }

  #block-menu_block-3 {
    top: -24px;
  }

  #block-menu_block-3 h2 {
    font-size: 2.1rem;
  }

  #block-menu_block-3 h2::after {
    margin-bottom: 1px;
    border-top: 8px solid $wit;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    margin-left: 14px;
  }

  #block-menu_block-3 .content {
    margin-bottom: 10px;
  }

  #block-menu_block-4 {
    top: 182px;
    left: 58.5%;
    margin-left: 325px;
    transform: scale(.9999);
  }

  #block-menu_block-4::before {
    border-top: 7px solid #572600;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    margin: 9px 9px 0 39px;
  }

  #block-menu-menu-menu-2014-top ul li a,
  #block-menu_block-4 .content::before {
    font-size: 1.5rem;
  }

  .close {
    width: 500px;
    margin: 0 13.07%;
    margin-top: 0px;
  }

  #block-block-14 a.hopper-winkel,
  #block-block-14 a.hopper-jeugdverblijf {
    height: 14rem;
    background-size: 100%;
  }

  // -------------------------------------------------------------------------
  // Footer Styles
  // -------------------------------------------------------------------------
  footer.region {
    background: url(../img/footer_ribbon.png) no-repeat center top transparent;
    height: 450px;
  }

  footer.region .container {
    width: 1210px;
    padding: 0 60px;
  }

  footer.region .footer-top {
    padding: 15px 55px 0 7px;
  }

  footer.region .footer-top .logo {
    width: 105px;
    margin-top: 5px;
  }

  footer.region .footer-bottom .contact {
    width: 40%;
  }

  footer.region .footer-bottom .externe-links {
    width: 60%;
  }

  footer.region .footer-bottomul li {
    width: 50%;
  }

  footer.region .footer-bottom ul li:nth-child(1),
  footer.region .footer-bottom ul li:nth-child(2) {
    width: 50%;
  }

  footer.region .footer-bottom ul li:nth-child(1) .logo-hopper,
  footer.region .footer-bottom ul li:nth-child(2) .logo-vlaanderen {
    width: 175px;
    float: right;
  }

  // In de Kijker bottom
  .full-width-block .content .view-content::before {
    top: 5px;
  }

  .full-width-block .content .view-content::after {
    top: 0;
    border-width: 8px;
    border-bottom-width: 16px;
  }

  // Children blocks
  main.has-children #children .item-list > ul li.views-row {
    width: 351px;
  }

  // Sidebar blocks
  .page-home #sidebar {
    right: 65px;
    top: 15px;
    width: 34%;
  }

  #block-block-14 ul {
    height: 16rem;
  }

  #block-block-14 .hopper-winkel a,
  #block-block-14 .hopper-jeugdverblijf a {
    height: 14rem;
  }

  #block-block-14 .hopper-winkel a {
    width: 70%;
  }

  #block-block-14 .hopper-jeugdverblijf a {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .media-query {
    display: none;
    width: 2px;
  }

  // -------------------------------------------------------------------------
  // Layout Styles
  // -------------------------------------------------------------------------
  .container {
    width: 100%;
    padding: 0 38px;
  }

  #container.container {
    position: relative;
  }

  .accordeon .item-list ul li.views-row .views-field-field-indekijker-afbeelding-fid img {
    min-height: 160px;
  }

  #block-views-indekijker-block_3 {
    width: 60%;
    float: left;
    box-sizing: border-box;
    margin-bottom: 3em;
  }

  .page-home #sidebar {
    width: 33%;
    position: absolute;
    right: 38px;
    top: 0;
    box-sizing: border-box;
  }

  .page-node #sidebar,
  .page-admin #sidebar {
    width: 30%;
    float: right;
    box-sizing: border-box;
    padding-left: 15px;
  }

  .node-type-page [id^="node-"],
  .node-type-page #node-form,
  .node-type-webform [id^="node-"],
  .views-edit-view {
    float: left;
    box-sizing: border-box;
  }

  .node-type-page [id^="node-"],
  .node-type-page #node-form {
    width: 70%;
  }

  .no-sidebar.node-type-page [id^="node-"],
  .no-sidebar.node-type-page #node-form {
    width: 100%;
  }

  .nieuws,
  #block-views-evenementen_home-block_1 {
    clear: both;
    padding: 2em 0 0;
  }

  .view-evenementen-home .view-content .item-list .views-row,
  .view-children .view-content .item-list .views-row {
    float: left;
    width: 33.3333%;
  }

  // -------------------------------------------------------------------------
  // Base Styles
  // -------------------------------------------------------------------------
  ::-webkit-input-placeholder {
    // WebKit browsers
    color: #572600;
  }

  :-moz-placeholder {
    // Mozilla Firefox 4 to 18
    color: #572600;
  }

  ::-moz-placeholder {
    // Mozilla Firefox 19+
    color: #572600;
  }

  :-ms-input-placeholder {
    // Internet Explorer 10+
    color: #572600;
  }

  // -------------------------------------------------------------------------
  // Header Styles
  // --------------------------------------------------------------------------
  header.region {
    background: url(../img/header_ribbon-768.png) no-repeat center top transparent;
    height: 160px;
  }

  .front header.region,
  .page-home header.region {
    height: 274px;
    margin-bottom: 36px;
  }

  .fotoheader-wrapper {
    height: 270px;
  }

  header.region #block-views-fotoheader-block_1 .views-field-title {
    background-color: #BDD732;
    text-align: center;
    margin: 0 auto;
  }

  header.region .logo {
    width: 70%;
    padding-top: 53px;
  }

  header.region .logo a {
    width: 54px;
    display: block;
  }

  header.region .logo a img {
    width: 100%;
  }

  header.region #block-search-0 {
    border: none;
    background-color: #DBE68E;
    display: block;
    position: absolute;
    top: 70px;
    right: 5%;
    width: 305px;
    margin-top: -20px;
  }

  header.region #block-search-0::before {
    display: none;
  }

  header.region #block-search-0 #search-block-form ::-webkit-input-placeholder,
  header.region #block-search-0 #search-block-form :-moz-placeholder,
  header.region #block-search-0 #search-block-form ::-moz-placeholder,
  header.region #block-search-0 #search-block-form :-ms-input-placeholder {
    color: #572600;
  }

  #edit-search-block-form-1 {
    background-color: transparent;
    color: #572600;
    margin: 0;
    padding: 2px 5px 5px;
  }

  // Change color of searchbox placeholder text on click
  #edit-search-block-form-1:focus:-ms-input-placeholder {
    color: #748D26;
  }

  #edit-search-block-form-1:focus::-webkit-input-placeholder {
    color: #748D26;
  }

  #edit-search-block-form-1:focus::-moz-placeholder {
    color: #748D26;
  }

  #edit-search-block-form-1:focus:-moz-placeholder {
    color: $svg-donkergroen;
  }

  header.region #block-search-0 #search-block-form .form-submit {
    color: $grijs-zwart;
    font-size: 1.8rem;
    height: 20px;
    margin: 0;
    min-width: initial;
    width: auto;
  }

  // -------------------------------------------------------------------------
  // Navigation Styles
  // -------------------------------------------------------------------------
  .mobile-tabs {
    margin-top: -42px;
    width: 220px;
  }

  .mobile-tabs .search-tab {
    display: none;
  }

  .mobile-tabs .menu-tab {
    float: none;
  }

  div[id*="block-menu"] {
    display: none;
    margin: 0 17%;
    position: absolute;
    width: 430px;
  }

  #block-menu-menu-menu-2014-top::after {
    display: none;
  }

  .close {
    background-color: transparent;
    color: $svg-bruin;
    left: calc(17% + 395px);
    margin: 15px 30px;
    position: absolute;
    top: 115px;
    width: initial;
    z-index: 5555;
  }

  #block-menu-menu-menu-2014-top {
    background-color: transparent;
    display: block;
    float: right;
    left: 0;
    margin: -30px 0 0;
    position: relative;
    width: 53%;
  }

  #block-menu-menu-menu-2014-top::before {
    display: none;
  }

  #block-menu-menu-menu-2014-top ul {
    padding: 0;
  }

  #block-menu-menu-menu-2014-top ul li {
    float: left;
    padding: 0 0 0 1rem;
  }

  #block-menu-menu-menu-2014-top ul li::before {
    border-bottom: 5px solid transparent;
    border-left: 6px solid $svg-lichtgroen;
    border-top: 5px solid transparent;
    content: ' ';
    display: inline-block;
    height: 0;
    margin-bottom: -1px;
    width: 5px;
  }

  #block-menu-menu-menu-2014-top ul li a {
    font-family: DCCAsh, sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }

  #block-menu_block-2 {
    margin-top: initial;
    padding: 0;
    position: relative;
    z-index: 5555;
  }

  #block-menu_block-2::before {
    border-bottom: 6px solid transparent;
    border-left: 430px solid $svg-donkergroen;
    border-top: 0 solid transparent;
    content: ' ';
    cursor: pointer;
    display: block;
    height: 5px;
  }

  #block-menu_block-3 {
    border-bottom: 3px solid $svg-bruin;
    top: initial;
  }

  #block-menu_block-4 {
    cursor: pointer;
    display: block;
    float: right;
    position: absolute;
    right: -148px;
    text-align: right;
    top: 96px;
    -moz-transform: scale(.9999);
    width: 107px;
    z-index: 101;
  }

  // rgba(0, 0, 0, 0) = $wit?
  #block-menu_block-4::before {
    border-left: 5px solid $wit;
    border-right: 5px solid $wit;
    border-top: 6px solid $svg-bruin;
    content: ' ';
    display: inline-block;
    float: left;
    height: 0;
    margin: 7px 4px 0 0;
    position: relative;
    top: -1;
    width: 0;
  }

  #block-menu_block-4 .content::before {
    color: $svg-bruin;
    content: 'Hopper';
    cursor: pointer;
    display: block;
    font-family: DCCAsh, sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
  }

  #block-menu_block-4 .content ul.menu {
    background-color: $ebb;
    box-sizing: border-box;
    display: none;
    float: right;
    margin-top: 5px;
    overflow: hidden;
    width: 17.6em;
  }

  #block-menu_block-4 .content ul.menu::before {
    border-left: 310px solid transparent;
    border-right: 0 solid transparent;
    border-top: 8px solid $svg-bruin;
    content: ' ';
    display: inline-block;
    float: right;
    height: 11px;
    margin-right: -10px;
    width: 0;
  }

  #block-menu_block-4 .content ul.menu::after {
    background: $ebb;
    bottom: -6px;
    content: '';
    height: 45px;
    position: absolute;
    -webkit-transform: skew(0deg, -3deg);
    transform: skew(0deg, -3deg);
    width: 200px;
    z-index: -1;
  }

  #block-menu_block-4 .content ul.menu li {
    background-color: $ebb;
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 0 0 1rem;
    position: relative;
    text-align: center;
  }

  #block-menu_block-4 .content ul.menu li a {
    text-indent: -9999px;
  }

  #block-menu_block-4 .content ul.menu li.first,
  #block-menu_block-4 .content ul.menu li.last {
    width: 50%;
  }

  #block-menu_block-4 .content ul.menu li.first a,
  #block-menu_block-4 .content ul.menu li.last a {
    background-size: 100%;
    height: 15rem;
    width: 9rem;
  }

  #block-menu_block-4 .content ul.menu li.first a {
    background: url('../img/logo-hopper_winkel-alt.png') no-repeat center center;
  }

  #block-menu_block-4 .content ul.menu li.last::before {
    -webkit-transform: skew(0deg, 1deg);
    transform: skew(0deg, 1deg);
  }

  #block-menu_block-4 .content ul.menu li.last::after {
    -webkit-transform: skew(0deg, -1deg);
    transform: skew(0deg, -1deg);
  }

  #block-menu_block-4 .content ul.menu li.last a {
    background: url('../img/logo-hopper_jeugdverblijven-alt.png') no-repeat center center;
  }

  #block-menu_block-4 .content ul.menu li a {
    color: $svg-bruin;
    text-decoration: none;
  }

  #block-block-14 a.hopper-winkel,
  #block-block-14 a.hopper-jeugdverblijf {
    background-size: 75%;
    height: 9.9rem;
  }

  // Titles
  .views-field-title a {
    font-size: 2.4rem;
  }

  // Sidebar blocks
  .page-node #sidebar,
  .page-admin #sidebar {
    margin-top: 0;
  }

  #block-block-14,
  #block-block-11 {
    border-right: 0;
    float: none;
    width: 100%;
  }

  #block-block-11 {
    margin-top: 4em;
  }

  #block-block-11::after {
    bottom: -25px;
  }

  #block-block-11 iframe {
    height: 150px;
  }

  #block-block-14 ul {
    height: 11rem;
  }

  #block-block-14 .hopper-winkel a {
    height: 80px;
    width: 80%;
  }

  #block-block-14 .hopper-jeugdverblijf a {
    height: 80px;
    width: 90%;
  }

  // Activiteiten
  #block-views-evenementen_home-block_1 .title,
  .floating-title .title {
    padding-left: 45px;
    text-align: left;
  }

  #block-views-evenementen_home-block_1 .title::before,
  .floating-title .title::before {
    margin-left: -10px;
  }

  #block-views-evenementen_home-block_1 .content,
  .floating-title .content {
    margin-top: 15px;
  }

  // Property select order uitgeschakeld.
  // Omdat border-bottom-width word overschreven door border-with.
  //
  // scss-lint:disable PropertySortOrder
  #block-views-evenementen_home-block_1 .content::after,
  .floating-title .content::after {
    top: -40px;
    border-width: 10px;
    border-bottom-width: 30px;
  }

  #block-views-evenementen_home-block_1 .content::before,
  .floating-title .content::before {
    top: -34px;
  }

  #block-views-evenementen_home-block_1 .view-content,
  .floating-title .view-content {
    overflow: hidden;
    padding: 0 1.2em 2em;
  }

  #block-views-evenementen_home-block_1 .view-content .views-row,
  .floating-title .view-content .views-row {
    padding: .5em 15px 2em;
  }

  #block-views-evenementen_home-block_1 .views-field-title,
  .floating-title .views-field-title {
    width: 70%;
  }

  #block-views-evenementen_home-block_1 .views-field-title a,
  .floating-title .views-field-title a {
    font-size: 1.5rem;
    height: 4.5em;
    padding: 8px 0;
  }

  #block-views-evenementen_home-block_1 .views-field-body,
  .floating-title .views-field-body {
    width: 100%;
  }

  #block-views-evenementen_home-block_1 .view-footer,
  .floating-title .view-footer {
    text-align: left;
  }

  #block-views-evenementen_home-block_1 .view-footer a,
  .floating-title .view-footer a {
    margin-left: 2em;
    padding-left: 15px;
    width: 170px;
  }

  #block-views-evenementen_home-block_1 .view-footer a::after,
  .floating-title .view-footer a::after {
    margin-left: -20px;
  }

  // Nieuws
  .view-nieuws .title {
    padding-left: 8rem;
  }

  .view-nieuws .title::after {
    bottom: 2px;
  }

  .view-nieuws .view-content .views-row {
    float: none;
    margin: 2rem 0;
    padding: 0 2rem;
    width: 100%;
  }

  .view-nieuws .view-content .views-field-title {
    float: left;
  }

  .view-nieuws .field-field-nieuws-afbeelding,
  .node-type-nieuws .field-field-nieuws-afbeelding {
    float: right;
    margin-left: 1.5rem;
    margin-top: .5rem;
  }

  .view-nieuws .view-content .views-field-body {
    float: left;
    width: 70%;
  }

  .view-nieuws .view-content .views-field-field-nieuws-afbeelding-fid {
    box-sizing: border-box;
    float: right;
    padding-top: 0;
    position: absolute;
    right: 2.5em;
    top: 15px;
  }

  .view-nieuws .view-content .views-field-field-nieuws-afbeelding-fid a {
    border: 4px solid $ebb;
    display: block;
  }

  .view-nieuws .view-footer a {
    height: 60px;
    padding-left: 45px;
  }

  .view-nieuws .view-footer a::after {
    height: 50px;
    left: -45px;
    top: -50px;
    -webkit-transform: skew(0deg, -1deg);
    transform: skew(0deg, -1deg);
  }

  // In de Kijker bottom
  .full-width-block .content .view-content::after {
    top: 3%;
  }

  .full-width-block .content .views-field-nothing a {
    margin-left: 45px;
    padding: 0 0 .3em;
    text-align: left;
  }
}

@media screen and (min-width: 940px) {
  .media-query {
    display: none;
    width: 3px;
  }

  // -------------------------------------------------------------------------
  // Layout Styles
  // -------------------------------------------------------------------------
  .container {
    clear: both;
    overflow: hidden;
    padding: 0 47px;
    width: 940px;
  }

  .front main .content {
    width: 100%;
  }

  // -------------------------------------------------------------------------
  // Base Styles
  // -------------------------------------------------------------------------
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  .views-field-nothing a {
    font-size: 1.6rem;
  }

  // -------------------------------------------------------------------------
  // Header Styles
  // -------------------------------------------------------------------------
  header.region {
    background: url('../img/header_ribbon-1210.png') no-repeat center top transparent;
    height: 200px;
  }

  .front header.region,
  .page-home header.region {
    height: 474px;
  }

  #global-menu .container {
    width: 890px;
  }

  .fotoheader-wrapper {
    height: 470px;
  }

  header.region .logo {
    float: left;
    margin-left: 10px;
    padding-top: 65px;
    width: 60px;
  }

  header.region .logo a {
    display: block;
    width: 60px;
  }

  header.region #block-search-0 {
    // max-height en overflow attributes.
    // Om voor het uitvoeren van javascript al een redelijke layout te hebben

    float: right;
    height: 4rem;
    left: 0;
    max-height: 4rem;
    overflow: hidden;
    position: relative;
    top: 60px;
    width: 220px;
  }

  #edit-search-block-form-1 {
    padding: 2px 5px;
  }

  header.region #block-search-0 #search-block-form .form-submit {
    font-size: 1.8rem;
    margin: 0;
  }

  #block-menu_block-3 {
    text-align: left;
  }

  #block-block-14 a.hopper-winkel,
  #block-block-14 a.hopper-jeugdverblijf {
    background-size: 82%;
    height: 11rem;
  }

  // -------------------------------------------------------------------------
  // Navigation Styles
  // -------------------------------------------------------------------------
  .tab {
    display: none;
  }

  div[id*="block-menu"] {
    display: block;
    margin: 0;
    width: auto;
  }

  .close {
    display: none !important;
  }

  #block-menu-menu-menu-2014-top {
    left: 54%;
    position: absolute;
    top: 170px;
    width: auto;
  }

  #block-menu_block-2 {
    background: transparent;
    display: block;
    float: right;
    margin-top: 65px;
    position: relative;
    width: 87%;
    z-index: 1;
  }

  #block-menu_block-2::before {
    display: none;
  }

  #block-menu_block-2 ul {
    line-height: 0; // zo heeft de ::after geen effect op wat er onder staat.
    padding: 0 -1rem 0 1rem;
    position: relative;
    text-align: justify;
  }

  #block-menu_block-2 ul li {
    display: inline-block;
    max-width: 12rem;
    padding: 0;
    text-align: center;
    vertical-align: top;
  }

  #block-menu_block-2 ul:last-child::after {
    // 'text-align: justify' werkt niet op de laatste regel.
    // Dit zorgt voor een extra laatste regel.
    content: '';
    display: inline-block;
    width: 100%;
  }

  #block-menu_block-2 ul li a {
    background: url('../img/sprite.png') no-repeat transparent;
    display: block;
    line-height: .95;
    padding: 0 1rem 2.5rem;
  }

  #block-menu_block-2 ul li a:hover {
    color: $grijs-zwart;
  }

  #block-menu_block-2 ul li:nth-child(1) a {
    background-position: 10px 23px;
  }

  #block-menu_block-2 ul li:nth-child(1) a:hover {
    background-position: 10px -45px;
  }

  #block-menu_block-2 ul li:nth-child(2) a {
    background-position: -110px 23px;
  }

  #block-menu_block-2 ul li:nth-child(2) a:hover {
    background-position: -110px -45px;
  }

  #block-menu_block-2 ul li:nth-child(3) a {
    background-position: -215px 23px;
  }

  #block-menu_block-2 ul li:nth-child(3) a:hover {
    background-position: -215px -45px;
  }

  #block-menu_block-2 ul li:nth-child(4) a {
    background-position: -346px 40px;
  }

  #block-menu_block-2 ul li:nth-child(4) a:hover {
    background-position: -346px -30px;
  }

  #block-menu_block-2 ul li:nth-child(5) a {
    background-position: -611px 40px;
  }

  #block-menu_block-2 ul li:nth-child(5) a:hover {
    background-position: -611px -30px;
  }

  #block-menu_block-2 ul li:nth-child(6) a {
    background-position: -602px 23px;
  }

  #block-menu_block-2 ul li:nth-child(6) a:hover {
    background-position: -602px -45px;
  }

  #block-menu_block-2 ul li:nth-child(7) a {
    background-position: -741px 40px;
  }

  #block-menu_block-2 ul li:nth-child(7) a:hover {
    background-position: -741px -30px;
    color: $svg-bruin;
  }

  #block-menu_block-3 {
    background-color: transparent;
    border: 0;
    clear: both;
    display: block;
    margin-top: 0;
    overflow: visible;
    position: relative;
    top: -16px;
    width: 100%;
  }

  #block-menu_block-3 h2 {
    border: 0;
    color: $wit;
    cursor: pointer;
    margin-left: 18.5%;
    padding-top: 6px;
    text-align: left;
  }

  #block-menu_block-3 h2::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid $wit;
    content: ' ';
    display: inline-block;
    height: 0;
    margin-bottom: 1px;
    margin-left: 10px;
    position: relative;
    top: -2px;
    width: 0;
  }

  #block-menu_block-3::after {
    display: none;
  }

  #block-menu_block-3 .content {
    background-color: $svg-donkergroen;
    border-bottom: 3px solid $svg-bruin;
    display: none;
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 15px;
    position: relative;
    width: 100%;
  }

  #block-menu_block-3 .content::before {
    color: $licht-geel;
    content: '\f005';
    cursor: pointer;
    display: block;
    font-family: scouts;
    font-size: 1.8rem;
    position: absolute;
    right: 30px;
    top: 21px;
  }

  #block-menu_block-3 .content .menu {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }

  #block-menu_block-3 .content .menu li[class*="menu-mlid"]::before {
    border-bottom-width: 4px;
    border-left-width: 6px;
    border-top-width: 4px;
    margin-top: 6px;
    width: 9px;
  }

  #block-menu_block-3 .content .menu li[class*="menu-mlid"] a {
    font-size: 1.6rem;
  }

  #block-menu_block-4 {
    left: 55%;
    margin-left: 253px;
    position: absolute;
    top: 143px;
  }

  #block-menu_block-4::before {
    margin-left: 48px;
  }

  #block-menu_block-4 .content::before {
    text-align: right;
  }

  #block-menu_block-4 .content ul.menu {
    display: none;
  }

  // -------------------------------------------------------------------------
  // Footer Styles
  // -------------------------------------------------------------------------
  footer.region {
    background: url('../img/footer_ribbon.png') no-repeat calc(50% + 88px) top transparent;
    height: 350px;
    padding: 30px 0;
    text-align: left;
  }

  footer.region .container {
    padding: 0 47px;
    width: 940px;
  }

  footer.region .footer-top {
    background-color: transparent;
    float: left;
    padding: 15px 15px 0 0;
  }

  footer.region .footer-top .logo {
    width: 87px;
  }

  footer.region .footer-bottom .contact {
    float: left;
    line-height: 1.4;
    width: 44%;
  }

  footer.region .footer-bottom .externe-links {
    float: right;
    width: 53%;
  }

  footer.region .footer-bottom ul {
    margin: 40px 0;
    max-width: none;
  }

  footer.region .footer-bottom ul li {
    width: 50%;
  }

  footer.region .footer-bottom .logo-hopper,
  footer.region .footer-bottom .logo-vlaanderen {
    width: 145px;
  }

  footer.region .footer-bottom ul li:nth-child(2) {
    float: left;
    width: 40%;
  }

  // -------------------------------------------------------------------------
  // Content blocks
  // -------------------------------------------------------------------------

  // Date blocks
  .views-field-evenement-van,
  .views-field-created {
    padding-top: 7px;
    width: 62px;
  }

  .views-field-evenement-van a,
  .views-field-created a {
    text-decoration: none;
  }

  .views-field-evenement-van a p,
  .views-field-created a p {
    font-size: 3.4rem;
  }

  .views-field-evenement-van a p:last-child,
  .views-field-created a p:last-child {
    font-size: 1.8rem;
  }

  .views-field-evenement-van::before,
  .views-field-created::before {
    font-size: 9rem;
  }

  // In de kijker - accordeon
  #block-views-indekijker-block_3 {
    margin-bottom: 1em;
  }

  .accordeon .item-list ul li.views-row .views-field-field-indekijker-afbeelding-fid img {
    min-height: 220px;
  }

  .accordeon .item-list ul li.views-row .views-field-nothing::before {
    height: 65px;
    top: -23px;
  }

  // Activiteiten
  #block-views-evenementen_home-block_1 .view-content,
  .floating-title .view-content {
    padding: 0 2em 2em;
  }

  #block-views-evenementen_home-block_1 .views-field-title a,
  .floating-title .views-field-title a {
    font-size: 2.1rem;
    height: auto;
  }

  #block-views-evenementen_home-block_1 .views-field-body,
  .floating-title .views-field-body {
    width: 70%;
  }

  #block-views-evenementen_home-block_1 .view-footer a,
  .floating-title .view-footer a {
    margin-left: 3em;
  }

  // Nieuws
  .view-nieuws .view-content .views-row {
    min-height: 9.5em;
  }

  .view-nieuws .view-content .views-field-body {
    width: 75%;
  }

  .view-nieuws .view-content .views-field-field-nieuws-afbeelding-fid {
    right: 3.5em;
  }

  // In de Kijker bottom
  .full-width-block {
    margin-bottom: 2em;
  }

  .full-width-block .view-content::before {
    height: 50px;
    top: 15px;
  }

  .full-width-block .view-content .item-list .views-row .views-field-nothing a {
    background: url('../img/btn-90.png') no-repeat transparent 0 3px;
    color: $grijs-zwart;
    display: block;
    float: right;
    height: 35px;
    line-height: 1.8;
    margin: 0;
    padding: 0 20px;
    position: relative;
    right: 15px;
    top: -55px;
    width: auto;
  }

  .full-width-block .view-content .item-list .views-row .views-field-nothing a::after {
    border-left-color: $ebb;
    margin-left: -.8em;
  }

  .full-width-block .view-content .item-list .views-row .views-field-nothing span.field-content {
    height: 5px;
  }

  // Intro
  .has-children [id^="node-"] .content {
    padding: 15px 60px 7px;
  }

  .has-children [id^="node-"] .content p {
    font-size: 1.6rem;
  }

  main.region .field-field-ondertitel {
    font-size: 4rem;
  }

  // Children blocks
  main.has-children #children .item-list > ul {
    margin-left: -9px;
    margin-right: -9px;
  }

  main.has-children #children .item-list > ul li.views-row {
    float: left;
    height: 340px;
    margin: 0 9px 18px;
    width: 270px;
  }

  // Sidebar blocks
  .page-home #sidebar {
    right: 47px;
    top: 20px;
  }

  #block-block-11 {
    margin-top: 4em;
  }

  #block-block-14 ul {
    height: 13rem;
  }

  #block-block-14 .hopper-winkel a,
  #block-block-14 .hopper-jeugdverblijf a {
    height: 90px;
  }
}

@media screen and (min-width: 480px) {
  .media-query {
    display: none;
    width: 1px;
  }

  .container {
    padding: 0 24px;
    width: 100%;
  }

  // -------------------------------------------------------------------------
  // Navigation Styles
  // -------------------------------------------------------------------------
  #block-search-0 {
    margin-top: 30px;
  }

  #block-block-14 a.hopper-winkel,
  #block-block-14 a.hopper-jeugdverblijf {
    background-size: 95%;
    height: 13.9rem;
  }

  // -------------------------------------------------------------------------
  // Footer Styles
  // -------------------------------------------------------------------------
  footer.region .footer-bottom ul {
    max-width: 435px;
  }

  footer.region .footer-bottom ul li {
    padding-right: 15px;
  }

  footer.region .footer-bottom ul li .logo-hopper {
    width: 100px;
  }

  footer.region .footer-bottom ul li:nth-child(2) .logo-vlaanderen {
    width: 140px;
  }

  // In de kijker - accordeon
  .accordeon .item-list ul li.views-row .views-field-field-indekijker-afbeelding-fid a {
    width: 100%;
  }

  .accordeon .item-list ul li.views-row-first .views-field-title {
    padding: 13px 0 0 15px;
  }

  .accordeon .item-list ul li.views-row-first .views-field-title::before {
    top: 6px;
    -webkit-transform: skew(0deg, .5deg);
    transform: skew(0deg, .5deg);
  }

  .accordeon .item-list ul li.views-row-first .views-field-title::after {
    border-bottom-width: 12px;
    top: 3%;
  }

  .accordeon .item-list ul li.views-row-first .views-field-title span {
    font-size: 2.4rem;
    margin-top: 7px;
  }

  .accordeon .item-list ul li.views-row-first .views-field-nothing::before {
    height: 55px;
    top: -20px;
    -webkit-transform: skew(0deg, -2deg);
    transform: skew(0deg, -2deg);
  }

  // Activiteiten
  #block-views-evenementen_home-block_1 .views-field-title,
  .floating-title .views-field-title,
  #block-views-evenementen_home-block_1 .views-field-body,
  .floating-title .views-field-body {
    width: 85%;
  }

  // Nieuws
  .view-nieuws .views-field-body,
  .view-nieuws .views-field-title {
    float: right;
    width: 82%;
  }

  .view-nieuws .views-field-body {
    font-size: 1.2rem;
  }

  .view-nieuws .views-row .content::after {
    clear: both;
    content: ' ';
    display: block;
    width: 100%;
  }

  .view-nieuws .view-footer a::after {
    height: 40px;
  }

  // In de Kijker bottom
  .full-width-block .content::before {
    bottom: -6px;
  }

  // Property select order uitgeschakeld.
  // Omdat border-bottom-width word overschreven door border-with.
  //
  // scss-lint:disable PropertySortOrder
  .full-width-block .content::after {
    border-width: 9px;
    border-bottom-width: 8px;
    top: 1%;
    width: 6%;
  }

  // Hopper blocks
  #block-block-14 {
    border-right: 5px solid $wit;
    box-sizing: border-box;
    float: left;
    margin-top: 1em;
    width: calc(100% - 270px);
  }

  #block-block-14 ul {
    height: 150px;
  }

  #block-block-14 .hopper-winkel a {
    height: 100px;
    width: 90%;
  }

  #block-block-14 .hopper-jeugdverblijf a {
    height: 100px;
    width: 100%;
  }

  // Facebook like box.
  #block-block-11 {
    box-sizing: border-box;
    float: right;
    margin: 3.9em 0 2.5em;
    width: 270px;
  }

  #block-block-11::after {
    bottom: -15px;
  }

  // Children blocks.
  main.has-children #children .item-list > ul {
    margin-left: -9px;
    margin-right: -9px;
  }

  main.has-children #children .item-list > ul li.views-row {
    float: left;
    height: 332px;
    margin: 0 1% 18px;
    width: 48%;
  }
}

@media screen and (max-width: 767px) {
  .term main.region [id^="node-"] .content p {
    width: 61%;
  }
}

@media screen and (max-width: 479px) {
  .term main.region [id^="node-"] .content p {
    width: 100%;
  }

  .term main.region .contact-body #foto {
    float: initial;
    max-width: 100%;
  }
}
