// Acties lokalenvisum

.acties h2,
.acties h3 {
  color: $wit;
  margin-bottom: 0.4em;
  margin-top: 1em;
  padding-left: 1em;
}

.acties h2 {
  background-color: #256F91;
  height: 2.5em;
  line-height: 2.5em;
}

.acties h3 {
  background-color: #BDD732;
  height: 2em;
  line-height: 2em;
}

.acties h4 {
  margin-bottom: 0;
}

.acties ol,
.acties ul {
  padding-left: 2.5em;
}

.acties ol li,
.acties ul li {
  margin-left: 0;
  margin-bottom: 0.4em;
}