// -------------------------------------------------------------------------
// Admin bar
//--------------------------------------------------------------------------
a.context-block-region {
  display: none;
}

// #global-menu        - Nodig bij hoge resoluties
// .globale_menubalk   - Om de login-form te verbergen
// #login-form::before - Komt buiten de globale menubalk
// #admin-menu         - Default overschrijven
#global-menu,
.globale_menubalk,
#login-form::before,
#admin-menu {
  background: $svg-bruin;
  font-weight: normal;
}

#admin-menu li {
  font-size: 1rem;

  // #admin-menu li.admin-menu-icon a
  &.admin-menu-icon a {
    padding: 4px 8px 0;
  }
}

.admin-menu-users img {
  display: none;
}

#admin-menu ul a,
#admin-menu li.admin-menu-action a {
  border: medium none;
}

#login-form {
  background: none;
  border-radius: 0;
  box-shadow: none;
  height: 70px;
  width: auto;
}

#login-form::before {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: -1rem;
  transform: skew(0deg, -1.2deg); // Valt nog net achter de globale menubalk
  z-index: -1;
}

.globale_menubalk a,
#login-form input[type="submit"] {
  font-weight: normal;
}

body.no-sidebar #sidebar {
  display: none;
}

// klein scherm
@media screen and (max-width:479px) {
  #login-form {
    height: 170px;
    width: 160px;
  }

  #login-form form input[type=submit] {
    height: 30px;
    margin-top: 10px;
    width: 154px;
  }
}
