// -------------------------------------------------------------------------
// Content blocks
// -------------------------------------------------------------------------

// Reset drupal menu styles
.region .item-list > ul,
.region .item-list > ul > li {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

.view-content .item-list .views-row {
  overflow: hidden;
  position: relative;
}

// Date blocks
.views-field-evenement-van,
.views-field-created {
  float: left;
  padding-top: 9px;
  position: relative;
  text-align: center;
  width: 48px;
}

.views-field-evenement-van a,
.views-field-created a {
  text-decoration: none;
}

.views-field-evenement-van a p,
.views-field-created a p {
  color: $svg-donkergroen;
  font-family: DCCAsh, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

.views-field-evenement-van a :last-child,
.views-field-created a :last-child {
  font-size: 1.4rem;
}

.views-field-evenement-van::before,
.views-field-created::before {
  content: '\f004';
  font-family: scouts;
  font-size: 7.2rem;
  left: 0;
  line-height: .8;
  position: absolute;
  top: 0;
}

// Titles
.title {
  color: $svg-bruin;
  display: inline-block;
  font-family: DCCAsh, sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  height: 45px;
  letter-spacing: 1px;
  max-width: 100%;
  overflow: hidden;
  padding: 0 1em;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 1;

  // .title a
  a {
    text-decoration: none;
  }
}

.title::before {
  background: $svg-lichtgroen;
  content: '';
  display: block;
  height: 50px;
  left: -2rem;
  margin: 0 auto;
  margin-bottom: -37px;
  min-width: 200px;
  padding: 0 1em;
  position: relative;
  top: 4px;
  -webkit-transform: skew(0deg, 1deg);
  transform: skew(0deg, 1deg);
  width: calc(200% + 4em);
  z-index: -1;
}

.views-field-title a {
  color: $svg-donkergroen;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: .4em;
  text-decoration: none;
}

.views-field-body a {
  color: $svg-donkergroen;
  font-size: 1.2rem;
  text-decoration: none;
}

.views-field-title a:hover,
.views-field-body a:hover {
  color: $svg-bruin;
  transition: .3s;
}

.view-evenementen-home .views-field-body a,
.view-nieuws .views-field-body a {
  color: $grijs-zwart;
  font-weight: normal;
}

// Intro
.has-children [id^="node-"] .content {
  background-color: $svg-lichtgroen;
  margin-bottom: 25px;
  padding: 15px 25px;
  position: relative;
  width: 100%;

  // .has-children [id^="node-"] .content p
  p {
    font-size: 1.3rem;
  }
}

.has-children [id^="node-"] .content::before {
  background: $svg-lichtgroen;
  content: '';
  height: 30px;
  left: 0;
  position: absolute;
  top: -7px;
  -webkit-transform: skew(0deg, .5deg);
  transform: skew(0deg, .5deg);
  width: 100%;
}

.has-children [id^="node-"] .content::after {
  background: $svg-lichtgroen;
  bottom: -1.5rem;
  content: '';
  height: 30px;
  left: 0;
  position: absolute;
  -webkit-transform: skew(0deg, -.5deg);
  transform: skew(0deg, -.5deg);
  width: 100%;
}

.sticky-header {
  display: none;
}

main.region > h1:first-child, // views
main.region > [id^='node-'] > .content > h1:first-child,
main.region > [id^='node-'] > .content > h2:first-child,
.vacature-title {
  // zoals een ondertitel
  margin-bottom: 1.2rem;
  margin-top: .8rem;
}

.vacature-duur {
  margin-bottom: 1rem;
  margin-top: .5rem;
}

#node-10128 p.footer {
  clear: both;
}
