// Contactpagina
#contactinfo {
  float: left;
  margin-bottom: 2rem;

  // #contactinfo #zoekveld
  #zoekveld {
    display: inline-block;
    position: relative;
    top: .1rem;
  }

  // #contactinfo select
  select {
    width: 300px;
  }

  // #contactinfo .panel
  .panel {
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: $svg-lichtgroen;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
    display: none;
    padding: 30px;
    padding-top: 15px;
    position: relative;
    top: -5px;

    // #contactinfo .panel#locatie
    &#locatie {
      padding-bottom: .5rem;

      // #contactinfo .panel#locatie #col1
      #col1 {
        border-right-color: $svg-lichtgroen;
        border-right-style: solid;
        border-right-width: 1px;
        float: left;
        width: 50%;
      }

      // #contactinfo .panel#locatie #col2
      #col2 {
        margin-left: 30rem;
      }
    }

    // #contactinfo .panel#bellen #col1
    &#bellen #col1 {
      border-right-color: $svg-lichtgroen;
      border-right-style: solid;
      border-right-width: 1px;
      float: left;
      padding-right: 1rem;
      width: 50%;
    }

    // #contactinfo .panel#bellen #col2
    &#bellen #col2 {
      margin-left: 30rem;
    }

    // #contactinfo .panel#bellen .noodnummer a
    &#bellen .noodnummer a {
      color: $svg-rood;
    }

    // #contactinfo .panel#mailen
    &#mailen {
      clear: both;
    }

    // #contactinfo .panel h1
    h1 {
      margin-bottom: 0;
    }
  }

  // #contactinfo .flip
  .flip {
    background-color: $svg-lichtgroen;
    background-position: 565px 11px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: $svg-bruin;
    height: 28px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 2px;

    // #contactinfo .flip:hover
    &:hover {
      background-color: $svg-donkergroen-2;
      color: $svg-bruin;
      cursor: pointer;
    }

    // #contactinfo .flip img
    img {
      float: right;
      margin-right: 10px;
      margin-top: 2px;
      -webkit-transition: all .5s ease-out;
      transition: all .5s ease-out;
    }
  }
}

#contactinfo .flip,
#contactinfo .panel {
  width: 585px;
}

#contactinfo .secundair,
#contact-dienst .secundair {
  color: $grijs-zwart;
}

// Contactpages: Dienst
.contact-persoonlijk {
  background-color: $grijs-zwart;
  margin-bottom: 1rem;
  margin-top: -1rem;
  padding: 2rem;

  // .contact-persoonlijk #foto
  #foto {
    float: right;
  }

  // .contact-persoonlijk p
  p {
    float: left;
    width: 79%;
  }
}

#contact-dienst p {
  float: left;
  width: 395px;
}

#dienstFoto {
  float: right;
  // margin-top: -100px;
  margin-right: 20px;
}

#contact-hoofd {
  clear: left;
  float: left;
  margin-top: 10px;
}

#contact-dienst #contact-hoofd img,
.views-field-field-contact-foto-hoofd-fid img {
  border-color: $svg-lichtgroen;
  border-style: solid;
  border-width: 1px;
  -webkit-transition: opacity .5s; // (iOs) Safari, Android en Blackberry browser
  transition: opacity .5s;
}

#contact-dienst #contact-hoofd img:hover,
.views-field-field-contact-foto-hoofd-fid img:hover {
  opacity: .8;
}

#contact-dienst .views-field-field-contact-foto-hoofd-fid,
#contact-dienst .views-field-field-contact-foto-hoofd-fid img {
  height: 80px;
  width: 130px;
}

#contact-dienst .views-field-title {
  font-weight: bold;
  margin-top: 5px;
}

#contact-dienst .views-field-title,
#contact-dienst .views-field-tid {
  margin-left: 5px;
  width: 125px;
}

#contact-dienst #contact-hoofd p {
  margin-left: 5px;
}

#contact-dienst .views-field-tid .secundair {
  font-size: 95%;
}

#contact-dienst td {
  padding-bottom: 15px;
}

.term main.region [id^="node-"] .content {
  background-color: $ebb;
  min-height: 14rem;
  padding: 2rem;
}

.term main.region [id^="node-"] h2 {
  margin-top: 0;
}

.term main.region .contact-body #foto {
  float: right;
  margin-bottom: 2rem;
  margin-left: 2rem;
  max-width: 14rem;
}

.term main.region [id^="node-"] #contactgegevens,
.term main.region [id^="node-"] #contactgegevens-social {
  display: none;
}

.term main.region .content .field-field-contact-email div {
  display: inline-block;
  margin-top: 1rem;
}

// contactpagina's
.node-type-contact .content p {
  float: left;
  width: 75%;
}

.node-type-contact hr,
.greenHR {
  background-color: $svg-lichtgroen;
  border: 0;
  clear: both;
  color: $svg-lichtgroen;
  height: 1px;
  margin-top: 0;
}

.contact-body::after {
  clear: both;
  content: '';
  display: block;
}

// scss-lint:disable MergeableSelector
.node-type-contact {
  position: relative;

  // .node-type-contact #foto
  #foto {
    float: right;
  }

  // .node-type-contact #contactgegevens-social
  #contactgegevens-social {
    bottom: 70px;
    left: 10px;
    position: absolute;

    // .node-type-contact #contactgegevens-social img
    img {
      margin-right: 3px;
      position: relative;
      top: 3px;
    }
  }

  // .node-type-contact #contactgegevens img
  #contactgegevens img {
    display: inline-block;
    margin-right: .5rem;
    max-width: 1.6rem;
  }

  // .node-type-contact #contactgegevens span
  #contactgegevens span {
    line-height: 2.5rem;

    // .node-type-contact #contactgegevens span:nth-child(1) img
    &:nth-child(1) img {
      padding-bottom: 0;
    }

    // .node-type-contact #contactgegevens span:nth-child(2) img
    &:nth-child(2) img {
      padding-bottom: .2rem;
    }

    // .node-type-contact #contactgegevens span:nth-child(3) img
    &:nth-child(3) img {
      padding-bottom: .4rem;
    }
  }
}

.node-type-contact #contactgegevens-social #totem,
.node-type-contact #contactgegevens-social #linkedin,
.node-type-contact #contactgegevens-social #twitter {
  float: left;
  margin-right: 15px;
}
