.view-evenementen-kalender .views-view-grid .views-field-title,
.view-evenementen-kalender .views-view-grid .views-field-locatienaam {
  font-size: 1.1rem;
  height: 16px;
  text-transform: uppercase;
}

.view-evenementen-kalender .views-view-grid .views-field-evenement-van {
  text-shadow: 1px 1px 3px $geel, -1px -1px 1px $grijs-zwart;
}

// scss-lint:disable MergeableSelector
.view-evenementen-kalender .views-view-grid {
  margin-bottom: 0;
  margin-top: 10px;
  width: 940px;
}

.view-evenementen-kalender .views-view-grid .views-field-evenement-van-1 {
  text-shadow: 1px 1px 1px $geel, -.5px -.5px 1px $grijs-zwart;
}

.view-evenementen-kalender .views-view-grid .views-field-title,
.view-evenementen-kalender .views-view-grid  .views-field-locatienaam {
  text-shadow: 1px 1px 1px $geel;
}

.view-evenementen-kalender .views-view-grid .views-field-title {
  margin-top: -15px;
}

.view-evenementen-kalender .views-view-grid .views-field-locatienaam {
  margin-top: -3px;
}

// Evenementen: Tabel
.view-evenementen-kalender .views-table .views-field-evenement-van a:hover,
.view-evenementen-kalender .views-table .views-field-evenement-van a {
  color: $grijs-zwart;
}

.view-evenementen-kalender .views-table h1 {
  text-transform: uppercase;
}

.view-evenementen-kalender thead {
  display: none;
}

.view-evenementen-kalender .views-table tr {
  display: block;
  margin-bottom: 1rem;
  padding-top: 0;
}

.view-evenementen-kalender .views-table td,
.view-evenementen-kalender .views-table th {
  padding-top: 1.5rem;
}

.view-evenementen-kalender .views-table a {
  line-height: 1;
}

.view-evenementen-kalender .views-table .odd,
.view-evenementen-kalender .views-table .odd .active,
.view-evenementen-kalender .views-table .even,
.view-evenementen-kalender .views-table .even .active {
  border-bottom-style: none;
  padding-bottom: 0;
}

.view-evenementen-kalender .views-table .views-field-evenement-van {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  width: 200px;
}

.view-evenementen-kalender .views-table .views-field-title {
  border-left-color: $wit;
  border-left-style: solid;
  border-left-width: .3rem;
  border-right-color: $wit;
  border-right-style: solid;
  border-right-width: 3px;
  vertical-align: middle;

  // .view-evenementen-kalender .views-table .views-field-title p
  p {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    padding-bottom: .3rem;
    width: 100%;
  }

  // .view-evenementen-kalender .views-table .views-field-title a
  a {
    font-size: initial;
    width: 100%;
  }
}

.view-evenementen-kalender .evenementen-evenementtitel {
  display: inline;
  font-family: DCCAsh, sans-serif;
  font-size: 2.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.view-evenementen-kalender .evenement-locatie,
.view-evenementen-kalender .evenement-groep {
  background-position: left center;
  background-repeat: no-repeat;
  font-size: 1.1rem;
  padding-left: 1.5rem;
}

.view-evenementen-kalender .evenement-groep {
  background-image: url('../img/view-kalender-list-icon-organisator.png');
}

.view-evenementen-kalender .evenement-locatie {
  background-image: url('../img/view-kalender-list-icon-locatie.png');
}

.view-evenementen-kalender .view-filters #views-exposed-form-evenementen-page-4 .views-exposed-widgets > .views-exposed-widget:first-child {
  display: none;
}

.view-evenementen-kalender .views-table tr,
.view-evenementen-kalender .views-table td.active {
  background-color: $ebb;
}

.view-evenementen-kalender .views-table td.views-field-evenement-van {
  clear: both;
  width: 18%;
}

.view-evenementen-kalender .views-table td.views-field-title {
  width: 40rem;
}

.views-table .views-field-evenement-van::before {
  content: '';
}

.view-evenementen-kalender .views-table .views-field-title .evenementen-type {
  color: $grijs-zwart;
  float: right;
  font-size: 1.5rem;
  line-height: 1.7rem;
  margin: .6rem 0 0 .6rem;
}

.view-evenementen-kalender .views-table .views-field-evenement-van .sgvid {
  color: $svg-donkergroen;
  display: block;
  font-weight: normal;
}

// Evenemenenten Kalender
.view-evenementen-kalender .views-view-grid tr {
  height: 170px;
}

.view-evenementen-kalender .views-view-grid td {
  color: $grijs-zwart;
  font-weight: bold;
  text-align: center;
  width: 155px;
}

.view-evenementen-kalender .views-view-grid a {
  color: $grijs-zwart;
}

.views-view-grid .views-field-evenement-van-1 {
  font-size: 2rem;
  margin-bottom: -5px;
  margin-top: 5px;
  text-transform: uppercase;
}
