// FAQ
.page-faq .view-content .item-list .views-row {
  padding: 0;
}

.view-FAQ .view-content .item-list .views-row .views-field-title a,
.page-faq .view-content .item-list .views-row .views-field-title a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.page-faq p,
.page-faq a {
  font-size: 1.4rem;
}

.page-faq p:first-child {
  margin-top: 0;
}

h2.faq {
  clear: both;
  display: block;
}

.view-FAQ h3 {
  padding-bottom: 0.5em;
}

.view-FAQ-short {
  float: left;
  margin-bottom: 1rem;
  margin-right: 5%;
  width: 45%;
}

.view-FAQ-short h3 {
  border-bottom-color: #bdd732;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.view-FAQ-short .item-list {
  margin-bottom: 3rem;
}

.view-FAQ-short .views-row {
  padding: 0;
  list-style-type: disc !important;
  margin-left: 2rem;
  overflow: inherit;
  padding: 0;
}

.view-FAQ-short .views-field-title a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
}
