// Footer
// ----------------------------------------------------------------------------
.sg-logo {
  padding-left: 5px;
  width: 54px;
}

footer.region {
  background-color: $svg-bruin;
  color: $wit;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  overflow: hidden;
  text-align: center;

  // footer.region .container
  .container {
    padding: 0;
    width: 100%;
  }

  // footer.region .footer-top
  .footer-top {
    background-color: $svg-lichtgroen;
    padding: 15px;

    // footer.region .footer-top .logo
    .logo {
      margin: 0 auto;
      width: 54px;

      // footer.region .footer-top .logo .a
      a {
        display: block;
      }
    }
  }

  // footer.region .footer-bottem
  .footer-bottom {
    margin-bottom: 1.5em;
    overflow: hidden;
    padding: 0 15px;

    // footer.region .footer-bottom .logo-hopper,
    // footer.region .footer-bottom .logo-vlaanderen
    .logo-hopper,
    .logo-vlaanderen {
      width: 115px;
    }

    // footer.region .footer-bottem ul
    ul {
      margin: 0 auto;
      max-width: 350px;
      list-style: none;

      // footer.region .footer-bottom ul li
      li {
        float: left;
        padding-right: 15px;

        // footer.region .footer-bottom ul li:nth-child(2)
        &:nth-child(2) {
          float: right;
          padding-right: 0;
        }
      }

      // footer.region .footer-buttom ul li a
      a {
        display: block;
      }
    }

    // footer.region .footer-bottom .contact
    .contact {
      padding: 15px;

      // footer.region .footer-bottem .contact .arrow-link
      .arrow-link {
        font-size: 1.9rem;
        margin: 15px 0;
      }
    }
  }
}

footer.region .footer-bottom .contact a[href^='mailto:'],
footer.region .footer-bottom .contact a[href^='callto:'],
footer.region .footer-bottom .contact a[href^='tel:'] {
  color: $svg-lichtgroen;
}
