// Footer
// ----------------------------------------------------------------------------
.sg-logo {
  width: 54px;
  padding-left: 5px;
}

footer.region {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  overflow: hidden;
  background-color: #572600;
  text-align: center;
  color: #FFF;
}

footer.region .container {
  width: 100%;
  padding: 0;
}

footer.region .footer-top {
  background-color: #BDD732;
  padding: 15px;
}

footer.region .footer-top .logo {
  width: 54px;
  margin: 0 auto;
}

footer.region .footer-top .logo a {
  display: block;
}

footer.region .footer-bottom {
  margin-bottom: 1.5em;
  overflow: hidden;
  padding: 0 15px;
}

footer.region .footer-bottom .contact {
  padding: 15px;
}

footer.region .footer-bottom .contact a[href^='mailto:'],
footer.region .footer-bottom .contact a[href^='callto:'],
footer.region .footer-bottom .contact a[href^='tel:'] {
  color: #BDD732;
}

footer.region .footer-bottom .contact .arrow-link {
  font-size: 1.9rem;
  margin: 15px 0;
}

footer.region .footer-bottom ul {
  max-width: 350px;
  margin: 0 auto;
  list-style: none;
}

footer.region .footer-bottom ul li {
  float: left;
  padding-right: 15px;
}

footer.region .footer-bottom ul li a {
  display: block;
}

footer.region .footer-bottom .logo-hopper,
footer.region .footer-bottom .logo-vlaanderen {
  width: 115px;
}

footer.region .footer-bottom ul li:nth-child(2) {
  float: right;
  padding-right: 0;
}