// Fotodropper
.view-fotodropper h1 {
  margin-top: 1em;
}

.view-fotodropper .views-field-created {
  margin-bottom: 2rem;
  margin-right: 2rem;
  padding-top: 2.2rem;
  width: 7.5rem;
}

.view-fotodropper .views-field-created::before {
  font-size: 11rem;
}

.view-fotodropper .views-label-created {
  display: none;
}

.view-fotodropper .view-content div ul li {
  background-color: $ebb;
  clear: both;
  list-style: none;
  margin: 2rem 0;
  padding: 2rem;

  // .view-fotodropper .view-content div ul li label
  label {
    float: left;
    font-weight: bold;
    margin-bottom: 0;
    width: 150px;
  }
}

.view-fotodropper .view-content .views-field-body {
  clear: both;
}

.view-fotodropper .view-content .views-field-created span {
  font-size: 1.3rem;
}

.view-fotodropper .view-content .views-field-field-fotodropper-datum-value {
  display: inline-block;
  height: 95px;
  width: calc(100% - 100px);
}

.view-fotodropper .view-content .views-label-field-fotodropper-datum-value,
.view-fotodropper .view-content .views-label-body {
  width: 100%;
}

.view-fotodropper p {
  font-size: 1.4rem;
  margin: 0;
}

.view-fotodropper #foto-toegevoegd {
  background: url('../images/message-ok.png') no-repeat left center;
  font-weight: bold;
  line-height: 32px;
  margin: 20px 20px 20px 40px;
  padding: 0 0 0 50px;
}
