// Fotodropper
.view-fotodropper h1 {
  margin-top: 1em;
}

.view-fotodropper .views-field-created {
  width: 7.5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding-top: 2.2rem
}

.view-fotodropper .views-field-created::before {
  font-size: 11rem;
}

.view-fotodropper .views-label-created {
  display: none;
}

.view-fotodropper .view-content div ul li {
  clear: both;
  list-style: none;
  margin: 2rem 0;
  padding: 2rem;
  background-color: #E7E0DE;
}

.view-fotodropper .view-content div ul li label {
  float: left;
  width: 150px;
  margin-bottom: 0;
  font-weight: bold;
}

.view-fotodropper .view-content .views-field-body {
  clear: both;
}

.view-fotodropper .view-content .views-field-created span {
  font-size: 1.3rem;
}

.view-fotodropper .view-content .views-field-field-fotodropper-datum-value {
  display: inline-block;
  height: 95px;
  width: calc(100% - 100px);
}

.view-fotodropper .view-content .views-label-field-fotodropper-datum-value,
.view-fotodropper .view-content .views-label-body {
  width: 100%;
}

.view-fotodropper p {
  margin: 0;
  font-size: 1.4rem;
}

.view-fotodropper #foto-toegevoegd {
  margin: 20px 20px 20px 40px;
  padding: 0 0 0 50px;
  line-height: 32px;
  font-weight: bold;
  background: url(../images/message-ok.png) no-repeat left center;
}
