// groepensite
.prijscategorie {
  border: 1px solid $svg-bruin;
  border-collapse: separate;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-spacing: 0;
  float: left;
  margin-right: 15px;
  text-align: center;
  width: 197px;

  // .prijscategorie tr
  tr {
    height: 30px;
  }

  // .prijscategorie td
  td {
    vertical-align: middle;
  }

  // prijscategorie .prijs
  .prijs {
    font-size: 1.4rem;
  }
}


.prijscategorie .header,
.prijscategorie .prijs {
  background-color: $svg-bruin;
  color: $wit;
  font-size: 1.6rem;
  font-weight: bold;
}
