// -------------------------------------------------------------------------
// Header Styles
// -------------------------------------------------------------------------
// TODO: Implement better nesting.

header.region {
  background: url($path-img + 'header_ribbon.png') no-repeat center top transparent;
  height: 140px;
  position: relative;
  width: 100%;

  // header.region #block-views-fotoheader-block_1 .views-field-title
  #block-views-fotoheader-block_1 .views-field-title {
    background-color: $svg-lichtgroen;
    padding: 2px 0;

    // header.region #block-views-fotoheader-block_1 .views-field-title span
    span {
      display: none;
    }
  }

  // header.region .logo
  .logo {
    display: block;
    margin: 0 auto;
    padding-left: 5px;
    padding-top: 46px;
    width: 284px;

    // header.region .logo a
    a {
      display: block;
      width: 47px;
    }
  }

  // header.region #block-search-0
  #block-search-0 {
    background-color: $svg-donkergroen;
    border-bottom: 2px solid $licht-geel;
    display: none;
    margin: 30px auto 0;
    overflow: hidden;
    position: relative;
    width: 288px;
    z-index: 99;

    // header.region #block-search-0 #search-block-form
    #search-block-form {
      margin-bottom: 0; // override de default layout van drupal
      overflow: hidden;

      // header.region #block-search-0 #search-block-form label
      label {
        display: none;
      }

      // header.region #block-search-0 #search-block-form .form-submit
      .form-submit {
        -moz-appearace: none;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        border: 0;
        color: $ebb;
        cursor: pointer;
        float: right;
        font-family: scouts;
        font-size: 2.1rem;
        font-weight: 100;
        line-height: 1;
        min-width: 0; // override de standaardwaarde, nodig voor IE
        outline: none;
        position: relative;
        width: 20%;
      }
    }

    // header.region #block-search-0 .content
    .content {
      padding: 5px 15px;
    }
  }

  // header.region #block-search-0::before
  #block-search-0::before {
    background-color: $svg-donkergroen;
    border-bottom: 6px solid transparent;
    border-left: 300px solid $licht-geel;
    border-top: 0 solid transparent;
    content: ' ';
    cursor: pointer;
    display: block;
    height: 5px;
    -moz-transform: scale(.9999);
  }

  // header.region #block-views-fotoheader-block_1
  // scss-lint:disable MergeableSelector
  #block-views-fotoheader-block_1 {
    bottom: 0;
    left: 0;
    // De foto is breder dan de pagina, maar mag de pagina niet breder maken.
    overflow: hidden;
    // nodig voor firefox mobile, ander wordt de 'rechter-overflow' getoond
    position: absolute;
    right: 0;
    top: 0;
    // achter de andere header-items
    z-index: -1;
  }
}


.front header.region,
.page-home header.region {
  // met fotoheader
  height: 219px;
  margin-bottom: 20px;
}

.view-fotoheader .views-field-php {
  bottom: 4px;
  position: relative;
  top: 0;
}

.fotoheader-wrapper,
.fotoheader {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: auto;
}

.fotoheader-wrapper {
  height: 215px;
}

.fotoheader {
  height: 100%;
}

header.region #block-search-0 #search-block-form ::-webkit-input-placeholder,
header.region #block-search-0 #search-block-form :-moz-placeholder,
header.region #block-search-0 #search-block-form ::-moz-placeholder,
header.region #block-search-0 #search-block-form :-ms-input-placeholder {
  color: $ebb;
  font-size: 1.3rem;
}

#edit-search-block-form-1 {
  -moz-appearace: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $svg-donkergroen;
  border: 0;
  color: $wit;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  outline: none;
  padding: 5px 15px;
  width: 80%;
}
