// -------------------------------------------------
// Hopper blocks
// -------------------------------------------------
#block-block-14 {
  margin-top: 0em;

  // #block-block-14 ul
  ul {
    margin: 0;
    overflow: hidden;
    height: 11rem;
  }

  // #block-block-14 li
  li {
    display: block;
    float: left;
    width: 50%;
    position: relative;
    margin-top: 5px;
    background-color: #BDD732;
    text-align: center;
    box-sizing: border-box;

    // #block-block-14 li::before
    &::before {
      content: '';
      position: absolute;
      top: -3px;
      right: 0;
      height: 5px;
      width: 100%;
      background: #BDD732;
      -webkit-transform: skew(0deg, -1deg);
      transform: skew(0deg, -1deg);
      z-index: -1;
    }

    // #block-block-14 li::after
    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      width: 100%;
      height: 15px;
      background: #BDD732;
      -webkit-transform: skew(0deg, 1deg);
      transform: skew(0deg, 1deg);
      z-index: -1;
      left: 0;
    }

    // #block-block-14 li:first-child
    &:first-child {
      border-right: 1px solid $wit;
    }

    // #block-block-14 li:last-child
    &:last-child {
      border-left: 1px solid $wit;

      // #block-block-14 li:last-child::before
      &::before {
        -webkit-transform: skew(0deg, 1deg);
        transform: skew(0deg, 1deg);
      }

      // #block-block-14 li:last-child::after
      &::after {
        -webkit-transform: skew(0deg, -1deg);
        transform: skew(0deg, -1deg);
      }
    }
  }
}

#block-block-14 a.hopper-winkel,
#block-block-14 a.hopper-jeugdverblijf {
  width: 9rem;
  height: 9.9rem;
  background-size: 100%;
  text-indent: -9999px;
}

#block-block-14 a.hopper-winkel {
  background: url(../img/logo-hopper_winkel-alt.png) no-repeat center / 75%;
}

#block-block-14 a.hopper-jeugdverblijf {
  background: url(../img/logo-hopper_jeugdverblijven-alt.png) no-repeat center / 75%;
}
