// -------------------------------------------------
// Hopper blocks
// -------------------------------------------------
#block-block-14 {
  margin-top: 0;

  // #block-block-14 a.hopper-winkel
  a.hopper-winkel {
    background: url('../img/logo-hopper_winkel-alt.png') no-repeat center / 75%;
  }

  // #block-block-14 a.hopper-jeugdverblijf
  a.hopper-jeugdverblijf {
    background: url('../img/logo-hopper_jeugdverblijven-alt.png') no-repeat center / 75%;
  }

  // #block-block-14 ul
  ul {
    height: 11rem;
    margin: 0;
    overflow: hidden;
  }

  // #block-block-14 li
  li {
    background-color: $svg-lichtgroen;
    box-sizing: border-box;
    display: block;
    float: left;
    margin-top: 5px;
    position: relative;
    text-align: center;
    width: 50%;

    // #block-block-14 li::before
    &::before {
      background: $svg-lichtgroen;
      content: '';
      height: 5px;
      position: absolute;
      right: 0;
      top: -3px;
      -webkit-transform: skew(0deg, -1deg);
      transform: skew(0deg, -1deg);
      width: 100%;
      z-index: -1;
    }

    // #block-block-14 li::after
    &::after {
      background: $svg-lichtgroen;
      bottom: -4px;
      content: '';
      height: 15px;
      left: 0;
      position: absolute;
      -webkit-transform: skew(0deg, 1deg);
      transform: skew(0deg, 1deg);
      width: 100%;
      z-index: -1;
    }

    // #block-block-14 li:first-child
    &:first-child {
      border-right: 1px solid $wit;
    }

    // #block-block-14 li:last-child
    &:last-child {
      border-left: 1px solid $wit;

      // #block-block-14 li:last-child::before
      &::before {
        -webkit-transform: skew(0deg, 1deg);
        transform: skew(0deg, 1deg);
      }

      // #block-block-14 li:last-child::after
      &::after {
        -webkit-transform: skew(0deg, -1deg);
        transform: skew(0deg, -1deg);
      }
    }
  }
}

#block-block-14 a.hopper-winkel,
#block-block-14 a.hopper-jeugdverblijf {
  background-size: 100%;
  height: 9.9rem;
  text-indent: -9999px;
  width: 9rem;
}
