// In de kijker - accordeon
.accordeon {
  margin-bottom: 1.5em;
  overflow: hidden;

  // .accordeon ul
  .item-list ul {
    margin: 0;

    // .accordeon .item-list ul li.views-row-odd .views-field-title
    li.views-row-odd .views-field-title {
      background-color: $svg-lichtgroen;

      // .accordeon .item-list ul li.views-row-odd .views-field-title span
      span {
        color: $svg-donkergroen;
        line-height: 1;
      }
    }

    // .accordeon .item-list ul li.views-row-even .views-field-title
    li.views-row-even .views-field-title {
      background-color: $svg-bruin;

      // .accordeon .item-list ul li.views-row-even .views-field-title span
      span {
        color: $wit;
        font-weight: normal;
        line-height: 1;
      }
    }


    // .accordeon .item-list ul li.views-row-first
    li.views-row-first {
      position: relative;
      width: 100%;
      z-index: 2;

      // .accordeon .item-list ul li.views-row-first div:nth-child(2)
      div:nth-child(2) {
        z-index: 4;
      }

      // .accordeon .item-list ul li.views-row-first .views-field-title
      .views-field-title {
        background-color: transparent;
        float: none;
        height: auto;
        overflow: hidden;
        padding: 15px 0 0 10px;
        position: relative;
        text-align: left;
        width: 100%;

        // .accordeon .item-list ul li.views-row-first .views-field-title::before
        &::before {
          background: $svg-lichtgroen;
          bottom: -3px;
          content: '';
          height: 100%;
          left: 0;
          position: absolute;
          -webkit-transform: skew(0deg, 1deg);
          transform: skew(0deg, 1deg);
          width: 97%;
        }

        // .accordeon .item-list ul li.views-row-first .views-field-title::after
        &::after {
          border: 7px solid transparent;
          border-bottom: 10px solid $svg-lichtgroen;
          content: '';
          height: 0;
          position: absolute;
          right: 0;
          // 0px ziet er beter uit op desktop (firefox)
          // -1px ziet er beter uit op android (firefox)
          top: -1px;
          width: 3%;
        }

        // .accordeon .item-list ul li.views-row-first .views-field-title i
        i {
          display: none;
        }

        // .accordeon .item-list ul li.views-row-first .views-field-title span
        span {
          background-color: $svg-lichtgroen;
          color: $svg-bruin;
          display: block;
          font-size: 1.8rem;
          padding-bottom: 10px;
          position: relative;
        }
      }
    }

    // .accordeon .item-list ul li.views-row-first .views-field-nothing::before
    .views-field-nothing::before {
      background: $svg-lichtgroen;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: -13px;
      -webkit-transform: skew(0deg, -3deg);
      transform: skew(0deg, -3deg);
      width: 100%;
      z-index: 1;
    }

    // .accordeon .item-list ul li.views-row:nth-child(2)
    li.views-row:nth-child(2) {
      margin-top: -30px;
      position: relative;
      z-index: 1;

      // .accordeon .item-list ul li.views-row:nth-child(2) .views-field-title
      .views-field-title {
        padding-top: 40px;

        // .accordeon .item-list ul li.views-row:nth-child(2) .views-field-title span
        span {
          position: relative;
          top: 2px;
        }

        // .accordeon .item-list ul li.views-row:nth-child(2) .views-field-title i
        i {
          color: $wit;
        }
      }
    }

    // .accordeon .item-list ul li.views-row
    // TODO: need to check this.
    // scss-lint:disable DuplicateProperty
    li.views-row {
      float: none;
      float: right;
      padding: 0;
      width: 97%;
      width: 100%;

      // .accordeon .item-list ul li.views-row .views-field-field-indekijker-afbeelding-fid
      .views-field-field-indekijker-afbeelding-fid {
        overflow: hidden;
        position: relative;
        z-index: 5;

        // .accordeon .item-list ul li.views-row .views-field-field-indekijker-afbeelding-fid img
        img {
          height: auto;
          width: 100%;
        }
      }

      // .accordeon .item-list ul li.views-row .views-field-title
      .views-field-title {
        clear: both;
        cursor: pointer;
        overflow: hidden;
        padding: 15px 15px 5px;

        // .accordeon .item-list ul li.views-row .views-field-title i
        i {
          display: inline-block;
          float: left;
          font-size: 3.1rem;
          font-weight: 100;
          line-height: 1;
          padding-right: 15px;
          position: relative;
          top: -4px;
        }

        // .accordeon .item-list ul li.views-row .views-field-title span
        span {
          cursor: pointer;
          font-family: 'Fjalla One', sans-serif;
          font-size: 1.6rem;
          font-weight: normal;
          text-decoration: none;
        }
      }
    }
  }
}

.accordeon .item-list ul li.views-row div:nth-child(2),
.accordeon .item-list ul li.views-row div:nth-child(3) {
  display: none;
}

.accordeon .item-list ul li.views-row-odd div:nth-child(2),
.accordeon .item-list ul li.views-row-odd div:nth-child(3) {
  background-color: $svg-lichtgroen;
}

.accordeon .item-list ul li.views-row-even div:nth-child(2),
.accordeon .item-list ul li.views-row-even div:nth-child(3) {
  background-color: $svg-bruin;
}

.accordeon .item-list ul li.views-row-first div:nth-child(2),
.accordeon .item-list ul li.views-row-first div:nth-child(3) {
  background-color: transparent;
  display: block;
  position: relative;
  z-index: 3;
}

// In de Kijker bottom
.full-width-block {
  margin-bottom: 4em;

  // .full-width-block img
  img {
    width: 100%;
  }

  // .full-width-block .view-content
  .view-content {
    float: none;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
    text-align: left;
    width: 100%;

    // .full-width-block .view-content .item-list li
    .item-list li {
      float: none;
      padding: 0;
      width: 100%;
    }

    // .full-width-block .view-content .item-list .views-row
    .item-list .views-row {
      float: none;
      padding: 0;
      width: 100%;

      // .full-width-block .view-content .item-list .views-row a
      a {
        width: 100%;
      }

      // .full-width-block .view-content .views-field-nothing a
      .views-field-nothing a {
        font-size: 1.5rem;
        padding: 0 .9em .3em;
        text-align: left;
      }
    }

    // .full-width-block .view-content span
    span {
      background-color: $svg-lichtgroen;
      display: block;
      line-height: 1.2;
      position: relative;
    }

    // .full-width-block .view-content::before
    &::before {
      background: $svg-lichtgroen;
      bottom: -12px;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      -webkit-transform: skew(0deg, .5deg);
      transform: skew(0deg, .5deg);
      width: 97%;
    }

    // .full-width-block .view-content::after
    &::after {
      border: 5px solid transparent;
      border-bottom: 7px solid $svg-lichtgroen;
      content: '';
      height: 0;
      position: absolute;
      right: -2px;
      top: 8px;
      width: 50%;
      z-index: -1;
    }
  }
}
