// Jaarthema's
.view-jaarthemas table {
  margin-bottom: 2rem;
}

.view-jaarthemas td,
.view-jaarthemas th {
  vertical-align: middle;
}

.view-jaarthemas .views-field-title a {
  margin-bottom: 0;
}

.view-jaarthemas .views-field-field-jaarthema-kenteken-fid a {
  display: block;
}

// Jaarthema
.field-field-jaarthema-kenteken {
  float: right;
  margin-left: 10px;
}

.field-field-jaarthema-lied .field-items .field-item .filefield-file {
  display: inline;
}

.field-field-jaarthema-dans {
  padding-top: 1.2em;
}
