// -------------------------------------------------------------------------
// Main
// -------------------------------------------------------------------------
main.region {
  // http://stackoverflow.com/questions/21116957/main-element-doesnt-show-padding-in-opera-safari-ie
  display: block;
  margin: 10px 0 60px;
  overflow: hidden;

  // main.region #children
  #children {
    clear: both;
    overflow: hidden;
    width: 100%;

    // main.region #children .field-content.field-content-field-afbeelding-fid + .field-content-body
    // scss-lint:disable MergeableSelector
    .field-content.field-content-field-afbeelding-fid + .field-content-body {
      height: 8em;
      overflow: hidden;
    }

    // main.region #children [class*="field-content-field-verwijzing-omschr"]
    [class*="field-content-field-verwijzing-omschr"] a {
      font-size: 1.2rem;
      font-weight: 600;
    }

    // main.region #children [class*="field-content-field-verwijzing-link"] a
    [class*="field-content-field-verwijzing-link"] a {
      color: $svg-bruin;
      font-family: 'Fjalla One', sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.1;
      margin: .4em 0 .2em;
    }

    // main.region #children .field-content-body h3
    .field-content-body h3 {
      font-size: 1.4rem;
    }

    // main.region #children .field-content-body h4
    .field-content-body h4 {
      font-size: 1.3rem;
    }

    // main.region #children .field-content.field-content-field-afbeelding-fid
    .field-content.field-content-field-afbeelding-fid {
      height: 120px;
    }

    // main.region #children .item-list > ul
    .item-list > ul {
      margin: 0;
      overflow: hidden;

      // main.region #children .item-list > ul li.views-row
      li.views-row {
        background-color: $ebb;
        box-sizing: border-box;
        height: 340px;
        margin-bottom: 15px;
        overflow: visible;
        padding: 0;
        position: relative;
        width: 100%;

        // main.region #children .item-list > ul li.views-row h1
        h1 {
          color: $svg-donkergroen;
          font-family: 'Fjalla One', sans-serif;
          font-size: 2.1rem;
          font-weight: normal;
          margin-bottom: 0;
          overflow: hidden;
          padding-bottom: .5em;
        }

        // main.region #children .item-list > ul li.views-row > a
        > a {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 2;
        }

        // main.region #children .item-list > ul li.views-row::after
        &::after {
          background: url('../img/sprite.png') no-repeat right -55px top -243px transparent;
          bottom: -7px;
          content: '';
          display: block;
          height: 15px;
          left: 25px;
          pointer-events: none;
          position: absolute;
          width: 100%;
        }

        // main.region #children .item-list > ul li.views-row .child-block-wrapper
        .child-block-wrapper {
          height: 100%;
          overflow: hidden;
          padding: 10px 25px 30px;

          // main.region #children .item-list > ul li.views-row .child-block-wrapper *
          * {
            text-decoration: none !important;
          }
        }
      }
    }

    // main.region #children h1
    h1 {
      margin-top: 1rem;
    }

    // main.region #children .title
    .title {
      box-sizing: border-box;
      margin: 0 0 .5em;
      padding: 0 15px;
      text-align: left;

      // main.region #children .title::before
      // scss-lint:disable DuplicateProperty
      &::before {
        left: -15px;
        margin: 0 0 -34px;
        position: relative;
        top: 8px;
        -webkit-transform: skew(0deg, 2deg);
        transform: skew(0deg, 2deg);
        width: auto;
        width: 220px;
      }
    }

    // main.region #children .field-content-body::after
    .field-content-body::after {
      background-image: -webkit-linear-gradient(bottom, $wit-01, $wit-02);
      background-image: linear-gradient(to bottom, $wit-01, $wit-02 27.5%, $wit-01);
      bottom: 0;    // tov. het blok
      content: '';
      height: 80px; // 22 fade + 58 volledig - gelijk met de onderrand van afbeeldingen
      left: 0;
      pointer-events: none;
      position: absolute;
      width: 100%;
    }
  }

  // main.region .field-content-nothing
  .field-content-nothing {
    color: $svg-donkergroen;
    font-family: DCCAsh, sans-serif;
    font-size: 1.4rem;
    height: 2.2em;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-top: 1em;
    overflow: hidden;
    padding-right: 1.6em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 8.4em;
    z-index: 1;

    // main.region #children .field-content-nothing::before
    &::before {
      content: '\f002';
      font-family: scouts;
      font-size: 1.4em;
      padding-right: .3em;
      position: relative;
      top: .1em;
    }

    // main.region #children .field-content-nothing::after
    &::after {
      border-bottom: .4em solid transparent;
      border-left: 7em solid $svg-lichtgroen;
      border-top: .2em solid transparent;
      content: ' ';
      display: block;
      height: 1.5em;
      margin-left: -.15em;
      position: absolute;
      top: .15em;
      -webkit-transform: skew(-8deg, 0deg);
      transform: skew(-8deg, 0deg);
      z-index: -1;
    }
  }

  // main.region .field-field-ondertitel
  .field-field-ondertitel {
    color: $svg-bruin;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1.1;
    margin: .8rem 0 1.2rem;
  }

  // main.region #content-bottom
  #content-bottom {
    clear: both;
    margin-top: 2rem;
  }
}

.page-home main.region {
  margin: 25px 0;
}

main .content {
  font-size: 1.4rem;
}

main.region #children .field-content-body p,
main.region #children .field-content-body li {
  font-size: 1.2rem;
  font-weight: 600;
}

main.region #children .field-content-field-menu-link-afbeelding-fid,
main.region #children .field-content.field-content-field-afbeelding-fid-1 {
  height: 234px;
}

main.region #children .field-content-field-menu-link-afbeelding-fid,
main.region #children [class*="field-content-field-afbeelding-fid"] {
  margin: 0 -25px;
  overflow: hidden;
}

main.region #children .field-content-field-menu-link-afbeelding-fid img,
main.region #children [class*="field-content-field-afbeelding-fid"] img {
  height: auto;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;                              // halverwege de parent
  -webkit-transform: translateY(-50%);   // safari, android
  transform: translateY(-50%);           // halverwege de afbeelding
  width: auto;
}

main.region #children .field-content-body h5,
main.region #children .field-content-body h6 {
  font-size: 1.2rem;
}

main.has-children #children .field-content-nothing {
  bottom: 15px;
  left: 25px;
  position: absolute;
}

main.has-children #children .item-list > ul li.views-row {
  min-height: 100px;
}

.page-node main.region .content a {
  display: initial;
}

.page-node main.region .content a img,
main.region #content-bottom .content a img {
  display: inline-block;
}
