/* -------------------------------------------------------------------------
 Navigation
---------------------------------------------------------------------------- */
.tab {
  font-family: DCCAsh, sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 2rem;
  cursor: pointer;
  float: right;
}

.mobile-tabs {
  position: relative;
  margin: 0 auto;
  width: 213px;
  margin-top: -40px;
}

.tab.search-tab {
  margin-left: 20px;
  color: #48454B;
}

.tab.search-tab::before {
  content: "\f001";
  font-family: scouts;
  font-size: 1.8rem;
  color: #48454B;
  position: relative;
  margin-right: 7px;
}

.tab.menu-tab {
  color: #E7E0DE;
}

.tab.menu-tab:hover {
  color: #FFF;
}

.tab.menu-tab::after {
  content: " ";
  display: inline-block;
  width: 0px;
  height: 3px;
  margin-left: 10px;
  border-left: 5px solid transparent;
  border-top: 7px solid #E7E0DE;
  border-right: 5px solid transparent;
}

div[id*="block-menu"] {
  width: 288px;
  margin: 0 auto;
  z-index: 100;
  position: relative;
  display: none;
}

#block-menu-menu-menu-2014-top {
  position: absolute;
  left: calc(50% - 144px);
  background-color: #DBE68E;
  overflow: hidden;
  margin-top: 297px;
  z-index: 101;
}

#block-menu-menu-menu-2014-top::after {
  content: " ";
  display: block;
  height: 10px;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-right: 300px solid #DBE68E;
  border-bottom: 6px solid rgba(0, 0, 0, 0);
  background: #748D26;
  cursor: pointer;
  -moz-transform: scale(0.9999);
}

#block-menu-menu-menu-2014-top ul {
  overflow: hidden;
  margin: 0;
}

#block-menu-menu-menu-2014-top ul li {
  float: left;
  padding-left: 11px;
  list-style: none;
  margin: 0;
}

#block-menu-menu-menu-2014-top ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: normal;
}

#block-menu_block-2 {
  overflow: hidden;
  margin-top: 36px;
  padding: 15px;
  background: url(../img/grunge-tile-beige.png) repeat center top #E7E0DE;
  -moz-transform: scale(0.9999);
}

#block-menu_block-2::before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 8px;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-left: 300px solid #748D26;
  border-bottom: 6px solid rgba(0, 0, 0, 0);
  display: block;
  cursor: pointer;
  -moz-transform: scale(0.9999);
}

#block-menu_block-2 ul {
  text-align: center;
}

#block-menu_block-2 ul li {
  list-style: none;
  margin: 0;
  padding-bottom: 3px;
}

#block-menu_block-2 ul li a {
  font-family: DCCAsh, sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #572600;
  text-decoration: none;
  transition: initial;
}

#block-menu_block-2 ul li:last-child a {
  color: #748D26;
}

#block-menu_block-3 {
  display: block;
  position: relative;
  top: 41px;
  overflow: hidden;
  text-align: center;
  font-family: DCCAsh, sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #E7E0DE;
  background-color: #748D26;
}

#block-menu_block-3 .title {
  /* http://caniuse.com/#feat=user-select-none */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#block-menu_block-3 .content {
  overflow: hidden;
}

#block-menu_block-3 h2 {
  padding: 9px 0 5px;
  margin: 0;
  border-bottom: 2px solid #BDD732;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1;
  height: auto;
  font-family: DCCAsh, sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
  color: #FFF;
}

#block-menu_block-3 h2::before {
  display: none;
}

#block-menu_block-3 ul.menu {
  margin: 15px 0;
  -moz-column-gap: 0;
  -moz-column-count: 2;
  -moz-column-rule: 1px solid #BDD732;
  -webkit-column-gap: 0;
  -webkit-column-count: 2;
  -webkit-column-rule: 1px solid #BDD732;
  column-gap: 0;
  column-count: 2;
  column-rule: 1px solid #BDD732;
  overflow: hidden;
}

#block-menu_block-3 ul.menu li[class*="menu-mlid"] {
  padding: 5px 5px 5px 15px;
  word-wrap: break-word;

  /* Workaround voor Chrome en IE om te voorkomen dat de margin-bottom bij de volgende kolom gerekend komt. */
  display: inline-block;
  width: 100%;
}

#block-menu_block-3 ul.menu li[class*="menu-mlid"] a {
  width: calc(100% - 15px);
  padding-left: 5px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.3;
  color: #E7E0DE;
}

#block-menu_block-3 ul.menu li[class*="menu-mlid"] a:hover {
  color: #FFF;
}

#block-menu_block-3 ul.menu li[class*="menu-mlid"]::before {
  content: " ";
  display: inline-block;
  width: 5px;
  height: 0;
  margin-bottom: 1px;
  border-top: 3px solid transparent;
  border-left: 4px solid #BDD732;
  border-bottom: 3px solid transparent;
  vertical-align: top;
  margin-top: 7px;
}

#block-menu_block-4 {
  display: none;
}

.close {
  display: none;
  position: relative;
  top: 39px;
  width: 288px;
  z-index: 555;
  margin: 0 auto;
  padding: 6px 0 8px;
  text-align: center;
  font-size: 2.2rem;
  line-height: 1.2;
  color: #FFF;
  background-color: #572600;
  cursor: pointer;
}