// Nieuws
.view-nieuws .view-content {
  background-color: $licht-geel;
  padding: .5rem 0;

  // .view-nieuws .view-content .views-row
  .views-row {
    border-bottom: 1px solid $svg-lichtgroen;
    float: none;
    margin: 2rem;
    min-height: 15rem;
    padding-bottom: 2rem;
    width: calc(100% - 4rem);
  }
}

.view-nieuws .view-content .views-row:last-child,
.view-nieuws .view-content .views-row .tags {
  border-bottom: 0;
  margin-bottom: 0;
}

.view-nieuws .title {
  padding-top: .5rem;
}

.view-nieuws .views-field-created {
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.view-nieuws .views-field-title,
.view-nieuws .views-field-body {
  float: right;
  width: 72%; // 72 voor chrome, 73 voor firefox
}

.view-nieuws .views-field-body {
  font-size: 1.2rem;
}

.view-nieuws .views-field-field-nieuws-afbeelding-fid {
  box-sizing: border-box;
  clear: both;
  float: right;
  padding-top: 1em;

  // .view-nieuws .views-field-field-nieuws-afbeelding-fid a
  a {
    border: 4px solid $ebb;
    display: inline-block;
  }
}

.view-nieuws .view-footer {
  position: relative;

  // .view-nieuws .view-footer p
  p {
    margin: 0;
  }

  // .view-nieuws .view-footer a
  a {
    font-size: 1.6rem;
    padding-left: 15px;
    padding-top: 5px;
    width: 100%;

    // .view-nieuws .view-footer a::after
    &::after {
      background-color: $svg-lichtgroen;
      border: 0;
      height: 50px;
      left: -15px;
      top: -50px;
      -webkit-transform: skew(0deg, -2deg);
      transform: skew(0deg, -2deg);
      width: 120%;
    }
  }
}

.view-nieuws .field-field-nieuws-afbeelding {
  margin-top: 1.5rem;
}

.view-nieuws [id^='node-'] {
  margin-bottom: 2rem;
}

