// Nieuwsarchief
.node-type-nieuws .node-inner {
  overflow: hidden;
}

.view-display-id-page_4 .views-field-php,
.view-display-id-page_4 .views-field-php-1,
.view-display-id-page_4 .views-field-php-2 {
  position: relative;
  top: 25px;
}

.views-view-grid .views-field-evenement-van h1 {
  font-size: 7.9rem;
  line-height: 79px;
}

.views-view-grid .views-field-evenement-van a:hover {
  opacity: .75;
  text-decoration: none;
  text-shadow: 1px 1px 10px $wit-1, -1px -1px 1px $black;
}
