// Sidebar
// ----------------------------------------------------------------------------
.page-node #sidebar,
.page-admin #sidebar {
  margin: 1em 0;
}

.page-node #sidebar [id^="block-"],
.page-admin #sidebar [id^="block-"] {
  background: $ebb;
  padding: 25px 35px 15px;
}

#sidebar .view-children .view-content .item-list .views-row {
  float: none;
  padding: 0;
  width: 100%;
}

.page-node #sidebar [id^="block-"]::after,
.page-admin #sidebar [id^="block-"]::after {
  background: url($path-img + 'sprite.png') no-repeat right -100px top -243px transparent;
  content: '';
  display: block;
  height: 15px;
  position: relative;
  top: 22px;
  width: 100%;
}

.page-node #sidebar [id^="block-"] .title,
.page-admin #sidebar [id^="block-"] .title {
  color: $svg-donkergroen;
  font-family: DCCAsh, sans-serif;
  font-size: 2.1rem;
  height: auto;
  letter-spacing: 1px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

.page-node #sidebar [id^="block-"] .content a,
.page-admin #sidebar [id^="block-"] .content a {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.page-node #sidebar [id^="block-"] .content .field-content-title,
.page-admin #sidebar [id^="block-"] .content .field-content-title {
  background: url($path-img + 'btn-70.png') no-repeat transparent 0 3px;
  background-size: 100% 100%;
}

.page-node #sidebar [id^="block-"] .content h1::before,
.page-admin #sidebar [id^="block-"] .content h1::before {
  content: '\f002';
  font-family: scouts;
  font-size: 1.4em;
  padding-right: .3em;
  position: relative;
  top: .1em;
}

.page-node #sidebar [id^="block-"] .content h1,
.page-admin #sidebar [id^="block-"] .content h1 {
  color: $svg-donkergroen;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.6;
  margin-top: 0;
  padding-left: 1em;
  padding-top: 6px;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

.page-node #sidebar [id^="block-"] .field-content-nothing,
.page-admin #sidebar [id^="block-"] .field-content-nothing {
  display: none;
}
