// Techniekendatabank
.node-type-technieken-boek .content ul.childnodes {
  list-style: none;
  margin: 0;

  // .node-type-technieken-boek .content ul.childnodes
  li.childnode.techniek {
    background-color: $ebb;
    margin: 1em 0;
    overflow: hidden;
    padding: 1em;

    // .node-type-technieken-boek .content ul.childnodes li.childnode.techniek .child-field-preview
    .child-field-preview {
      float: left;
      padding: 0 2rem 0 0;
    }

    // .node-type-technieken-boek .content ul.childnodes li.childnode.techniek .child-title
    .child-title {
      padding: 5px 20px 5px 0;

      // .node-type-technieken-boek .content ul.childnodes li.childnode.techniek .child-title a
      a {
        color: $svg-donkergroen;
        font-size: 1.4em;
        text-decoration: none;
      }
    }
  }

  // .node-type-technieken-boek .content ul.childnodes li.childnode.technieken_bloek
  li.childnode.technieken_boek {
    list-style: none;
    margin-bottom: .5em;

    // .node-type-technieken-boek .content ul.childnodes li.childnode.technieken_bloek .child-children
    .child-children {
      color: $svg-donkergroen;
      display: inline;
      font-size: .9em;

      // .node-type-technieken-boek .content ul.childnodes li.childnode.technieken_bloek .child-children a
      a {
        color: $svg-bruin;
        display: inline-block;
        font-size: 1.4em;
        padding: .5em 1em;
        text-decoration: none;
        width: 100%;
      }
    }

    // .node-type-technieken-boek .content ul.childnodes .child-title
    .child-title {
      background-color: $svg-lichtgroen;
      display: inline-block;
      min-width: 23rem;

      // .node-type-technieken-boek .content ul.childnodes .child-title:hover
      &:hover {
        background-color: $svg-bruin;
        cursor: pointer;

        // .node-type-technieken-boek .content ul.childnodes .child-title:hover a
        a {
          color: $wit;
          transition-property: none;
        }
      }
    }
  }
}

.node-type-technieken-boek .links.inline {
  display: none;
}

.node-type-techniek .book-navigation {
  display: none;
}
