// -------------------------------------------------------------------------
// Typography
//--------------------------------------------------------------------------
h1,
h2,
h3,
h4 {
  color: $svg-bruin;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  line-height: 1;
  margin-top: 1em;
}

h1.title,
h2.title,
h3.title,
h4.title {
  margin: 0;
}

h1 a,
h2 a,
h3 a,
h4 a {
  color: $svg-donkergroen;
  font-weight: normal;
  height: 1em; // fix voor de positie van anchors
  text-decoration: none;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

p,
ol,
ul {
  margin-bottom: .75em;
  margin-top: .5em;
}

p,
li {
  color: $grijs-zwart;
  font-size: 1.6rem;
}

p {
  line-height: 1.3;
}

u {
  text-decoration: underline;
}

strong,
b {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

caption {
  margin-bottom: 2rem;
}

// ::selection      - WebKit/Blink browsers
// ::-moz-selection - Gecko browsers
::selection,
::-moz-selection {
  background-color: $svg-donkergroen;
  color: $wit;
}

// Font styles
.thin {
  font-style: normal;
  font-weight: 200;
}

.thin-italic {
  font-style: italic;
  font-weight: 200;
}

.light {
  font-style: normal;
  font-weight: 300;
}

.light-italic {
  font-style: italic;
  font-weight: 300;
}

.book {
  font-style: normal;
  font-weight: normal;
}

.italic {
  font-style: italic;
  font-weight: normal;
}

.semibold {
  font-style: normal;
  font-weight: 600;
}

.semibold-italic {
  font-style: italic;
  font-weight: 600;
}

.bold {
  font-style: normal;
  font-weight: 700;
}

.bold-italic {
  font-style: italic;
  font-weight: 700;
}

.heavy {
  font-style: normal;
  font-weight: 800;
}

.heavy-italic {
  font-style: italic;
  font-weight: 800;
}

.black {
  font-style: normal;
  font-weight: 900;
}

.black-italic {
  font-style: italic;
  font-weight: 900;
}
