// Taxonomy-pagina
.page-taxonomy .title {
  margin-top: 2rem;
}

// Werkwinkels
.view-werkwinkels .item-list li.views-row {
  background-color: #E7E0DE;
  margin-bottom: 2rem;
  padding: 2rem;
}

// Overzicht verzekeringen en acties aanbevelingen
tr.yellow_bg_on_hover:hover {
  background-color: #DBE68E;
}

.node-type-techniek img.field-icon-application-pdf {
  // Deze pdfs zouden beter een publicatie worden.
  display: inline-block;
  padding-right: 4px;
  position: relative;
  top: 4px;
}

// Vacature pagina
.node-type-vacature .nd-region-header .field-vacature-intro {
  margin: 10px 0 30px 0;
}

.node-type-vacature .nd-region-header .field-title h1 {
  text-align: center;
}

// Facebook like box
#block-block-11 {
  background-color: #E7E0DE;
  margin: 4em 0 3.5em;
  position: relative;

  // #block-block-11 p
  p {
    text-align: center;
  }
}

#block-block-11 iframe {
  display: inline-block;
}

#block-block-11 .title::before {
  display: none;
}

#block-block-11 ul {
  margin: 0;
}

#block-block-11::before {
  background: url(../img/sprite.png) no-repeat center -143px #E7E0DE;
  content: '';
  height: 50px;
  position: absolute;
  right: 0;
  top: -35px;
  -webkit-transform: skew(0deg, -1.5deg);
  transform: skew(0deg, -1.5deg);
  width: 100%;
  z-index: -1;
}

#block-block-11::after {
  background: url(../img/sprite.png) no-repeat center -136px #E7E0DE;
  bottom: -35px;
  content: '';
  height: 60px;
  left: 0;
  position: absolute;
  -webkit-transform: skew(0deg, 3deg);
  transform: skew(0deg, 3deg);
  width: 100%;
  z-index: -1;
}

#block-block-11::after::after {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
  content: '';
  height: 0;
  width: 0;
}

// Verberg de verkorte preview
main .preview > h3:first-child,
main .preview > div:nth-child(2),
main .preview > div > h2.title {
  display: none;
}

// Ruimte rond submit-knop
main #node-form .standard {
  margin-bottom: 2em;
}

// Ruimte rond submit-knop
main.has-children #node-form {
  margin-bottom: 2.5em;
}

#node-form .content-multiple-drag {
  vertical-align: top;
}

.tags {
  margin-bottom: 2rem;
}

.tags ul.links li {
  padding: 0;
}

.tags span {
  background: #e7e0de;
  color: #572600;
  display: inline-block;
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
  margin: 1rem 1rem 0 1.5rem;
  padding: 0 1rem 0 1.2rem;
  position: relative;
  text-decoration: none;
  text-transform: lowercase;
}

.tags span::before{
  border-color: transparent #E7E0DE transparent transparent;
  border-style: solid;
  border-width: 1.5rem 1.5rem 1.5rem 0;
  content: "";
  float: left;
  height: 0;
  left: -1.5rem;
  position: absolute;
  top: 0;
  width: 0;

}

.tags span::after{
  background:#fff;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  content:"";
  float: left;
  height: 0.5rem;
  left: 0;
  position: absolute;
  top: 1.3rem;
  width: 0.5rem;
  background: $white;
}


table {
  width: 100%;
}

thead th,
td {
  font-size: 1.3rem;
  line-height: normal;
  padding: 1rem;
}

// De achtergrond wordt meer wit op alle pagina's waar er content niet in
// ondoorzichtige blokken staat, zoals nodes zonder children en custom modules.
.not-front:not(.page-home) main:not(.has-children) {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 4rem 4rem rgba(255, 255, 255, 0.5);
}

#messages {
  margin-bottom: 1em;
}

// Systeemberichten: warnings, notices, messages, ...
div.messages {
  font-size: 1.5em;
  padding: 1em;
}

img.field-icon-application-pdf {
  display: none;
}
