// wysisyg
body.mceContentBody::after {
  background-color: $grijs;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.mceContentBody [_mce_style] {
  font-size: initial;
}

// Floatende afbeeldingen moeten de content hoger maken.
// 'main > div > .content::after' wordt al gebruikt voor een schuine zijde.
main > div > .content > :last-child::after {
  clear: both;
  content: ' ';
  display: block;
  visibility: hidden;
  width: 100%;
}

body[no-sidebar] #sidebar {
  display: none;
}
