/* Blokken onderaan */
#block-block-16 {
  padding-top: 1rem;
}

#block-block-16 ul.links li {
  padding: 0 1em 0 0;
}

.print_link_do,
.fb-social-like-plugin {
  display: inline-block;
}

.print_link_do {
  position: relative;
  top: 2px;
}

.tweet_Twitter {
  position: relative;
  top: 1px;
}

#block-block-16 .fb-social-like-fb_linteraction span {
  /* Voor IE */
  display: inline-block;
  position: relative;
  top: -2px;
}

.fb_iframe_widget {
  top: 2px;
}

#block-switchtheme-0,
#block-masquerade-0 {
  margin-top: 2rem;
}