/* Aangemaakt via View: Global Text */
.evenementen-background-paper {
  margin-top:-147px;
  width:156px;
  height:164px;
}

.evenementen-background-paper-ingeschreven {
  width: 97px;
  height: 57px;
  display: block;
  background: url('../img/view-kalender-item-background-ingeschreven.png') no-repeat left top;
  text-indent: -99999px;
  z-index: 99;
  position: absolute;
  left: 3px;
  top: -20px;
}

.evenementen-background-paper-organisator {
  width: 9.1rem;
  height: 5.3rem;
  display: block;
  background: url('../img/view-kalender-item-background-organisator.png') no-repeat left top;
  text-indent: -99999px;
  z-index: 99;
  position: absolute;
  left: -0.7rem;
  top: 8.5rem;
}

.evenementen-background-paper-onzichtbaar {
  width: 21px;
  height: 16px;
  display: block;
  background: url('../img/view-kalender-item-background-onzichtbaar.png') no-repeat left top;
  text-indent: -99999px;
  z-index: 99;
  position: absolute;
  top: 99px;
  left: 8px;
  cursor: help;
}

.evenementen-type,
.evenementen-ingeschreven,
.evenementen-organisator {
  display: inline;
  text-transform: uppercase;
  margin-top: -2.5rem;
}

.evenementen-ingeschreven {
  color: #F5821F;
}

.evenementen-organisator {
  color: #256F91;
}

.evenementen-onzichtbaar {
  width: 13px;
  height: 10px;
  display: block;
  background: url('../img/view-kalender-item-background-onzichtbaar-small.png') no-repeat left center;
  text-indent: -99999px;
  float: left;
  margin: 0.6rem 0.6rem 0 0;
  cursor: help;
}

.view-evenementen .item-list {
  margin-top: 2rem;
  text-align: justify;
}

.view-evenementen .item-list ul {
  max-height: 38rem;
  overflow: hidden;
}

.view-evenementen .item-list ul::after {
  content: '';
  display: inline-block;
  width: 100%;
}

.view-evenementen .item-list li.filler {
  display: none;
  position: relative;
  overflow: hidden;
}

.view-evenementen .item-list li.views-row {
  width: 15.6rem;
  height: 17rem;
  margin-bottom: 1.8rem;
  padding: 0.75rem;

  background-color: #E7E0DE;
  display: inline-block;
}

.view-evenementen .item-list li > * {
  float: left;
}

.view-evenementen .item-list li .views-field-evenement-van-1,
.view-evenementen .item-list li .views-field-title,
.view-evenementen .item-list li .views-field-locatienaam {
  width: 100%;
  text-align: center;
}

.view-evenementen .item-list li .views-field-evenement-van-1 {
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.view-evenementen .item-list li .views-field-evenement-van h1{
  font-size: 5.5rem;
  line-height: 3rem;
  margin-left: 40px;
  width: 55px;
  text-align: center;
}

.view-evenementen .item-list li .views-field-title a{
  font-size: 1.9rem;
  font-family: DCCAsh, sans-serif;

  line-height: 2rem;
  margin: 0;
  margin-top:5px;
}

.view-evenementen .item-list li .views-field-evenement-van::before,
.view-evenementen .item-list li .views-field-created::before {
  font-size: 11rem;
  left: 30px;
  top: 5px;
}

.view-evenementen .item-list li .views-field-locatienaam{
  line-height: 100%;
  font-size: 1.2rem;
}

.view-evenementen .item-list li .views-field-nothing {
  display: none;
}