.node-type-sgv-evenement h1 {
  margin-top: 1rem;
}

.node-type-sgv-evenement .info {
  margin-bottom: 2rem;
}

.node-type-sgv-evenement .periode {
  margin-top: 2rem;
  font-style: italic;
}

.node-type-sgv-evenement .globalinfo {
  float: left;
  margin-top: 1rem;
  width: 480px;
}

.node-type-sgv-evenement .sgvid {
  color: #748D26;
}

.node-type-sgv-evenement .mapinfo {
  float: right;
}

.node-type-sgv-evenement .inschrijven h3 {
  margin-bottom: 0px;
}

.node-type-sgv-evenement .inschrijven td {
  vertical-align: central;
  padding-bottom: 5px;
  padding-top: 5px;
}

.node-type-sgv-evenement .inschrijven td:first-child {
  padding-left: 5px;
}

.node-type-sgv-evenement .inschrijven td a {
  font-weight: bold;
}

#sgv-evenementen-werkwinkels label.option {
  font-size: 0;
}

#sgv-evenementen-werkwinkels tr.odd .form-item, #sgv-evenementen-werkwinkels tr.even .form-item {
  white-space: normal;
}

.views-view-grid .views-field-evenement-van h1 {
  font-size: 7.9rem;
  line-height: 79px;
}

.views-view-grid .views-field-evenement-van a:hover {
  text-decoration: none;
  opacity: 0.75;
  text-shadow: 1px 1px 10px #FDFFEF, -1px -1px 1px #343434;
}

.view-evenementen-kalender .views-view-grid .views-field-title,
.view-evenementen-kalender .views-view-grid .views-field-locatienaam {
  font-size: 1.1rem;
  text-transform: uppercase;
  height: 16px;
}

.view-evenementen-kalender .views-view-grid .views-field-evenement-van {
  text-shadow: 1px 1px 3px #F3FF94, -1px -1px 1px #48454B;
}

.view-evenementen-kalender .views-view-grid .views-field-evenement-van-1 {
  text-shadow: 1px 1px 1px #F3FF94, -.5px -.5px 1px #48454B;
}

.view-evenementen-kalender .views-view-grid .views-field-title,
.view-evenementen-kalender .views-view-grid .views-field-locatienaam {
  text-shadow: 1px 1px 1px #F3FF94;
}

.view-evenementen-kalender .views-view-grid .views-field-title {
  margin-top: -15px;
}

.view-evenementen-kalender .views-view-grid .views-field-locatienaam {
  margin-top: -3px;
}

.view-evenementen-kalender .views-table .views-field-evenement-van a:hover,
.view-evenementen-kalender .views-table .views-field-evenement-van a {
  color: #48454B;
}

.view-evenementen-kalender .views-table h1 {
  text-transform: uppercase;
}

.view-evenementen-kalender thead {
  display: none;
}

.view-evenementen-kalender .views-table tr {
  display: block;
  margin-bottom: 1rem;
  padding-top: 0;
}

.view-evenementen-kalender .views-table td, .view-evenementen-kalender .views-table th {
  padding-top: 1.5rem
}

.view-evenementen-kalender .views-table a {
  line-height: 1;
}

.view-evenementen-kalender .views-table .odd, .view-evenementen-kalender .views-table .odd .active,
.view-evenementen-kalender .views-table .even, .view-evenementen-kalender .views-table .even .active {
  border-bottom-style: none;
  padding-bottom: 0;
}

.view-evenementen-kalender .views-table .views-field-evenement-van {
  width: 200px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.3rem;
  font-weight: bold;
}

.view-evenementen-kalender .views-table .views-field-title {
  vertical-align: middle;
  border-right: 3px solid $wit;
  border-left: .3rem solid $wit;
}

.view-evenementen-kalender .views-table .views-field-title p {
  margin: 0;
  padding: 0;
  padding-bottom: 0.3rem;
  width: 100%;
}

.view-evenementen-kalender .evenementen-evenementtitel {
  font-family: DCCAsh, sans-serif;
  letter-spacing: 1px;
  font-size: 2.3rem;
  display: inline;
  text-transform: uppercase;
}

.evenementen-type, .evenementen-ingeschreven, .evenementen-organisator {
  display: inline;
  text-transform: uppercase;
  margin-top: -2.5rem;
}

.evenementen-ingeschreven {
  color: #F5821F;
}

.evenementen-organisator {
  color: #256F91;
}

.evenementen-onzichtbaar {
  width: 13px;
  height: 10px;
  display: block;
  background: url(/sites/all/themes/theme2014/assets/img/view-kalender-item-background-onzichtbaar-small.png) no-repeat left center;
  text-indent: -99999px;
  float: left;
  margin: 0.6rem 0.6rem 0 0;
  cursor: help;
}

.view-evenementen-kalender .evenement-locatie, .view-evenementen-kalender .evenement-groep {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 1.5rem;
  font-size: 1.1rem;
}

.view-evenementen-kalender .evenement-groep {
  background-image: url(/sites/all/themes/theme2014/assets/img/view-kalender-list-icon-organisator.png);
}

.view-evenementen-kalender .evenement-locatie {
  background-image: url(/sites/all/themes/theme2014/assets/img/view-kalender-list-icon-locatie.png);
}

.view-evenementen-kalender .view-filters #views-exposed-form-evenementen-page-4 .views-exposed-widgets > .views-exposed-widget:first-child {
  display: none;
}

.view-evenementen .item-list {
  margin-top: 2rem;
  text-align: justify;
}

.view-evenementen .item-list ul {
  max-height: 38rem;
  overflow: hidden;
}

.view-evenementen .item-list ul::after {
  content: '';
  display: inline-block;
  width: 100%;
}

.view-evenementen .item-list li.filler {
  display: none;
  position: relative;
  overflow: hidden;
}

.view-evenementen .item-list li.views-row {
  width: 15.6rem;
  height: 17rem;
  margin-bottom: 1.8rem;
  padding: 0.75rem;
  background-color: #E7E0DE;
  display: inline-block;
}

.view-evenementen .item-list li > * {
  float: left;
}

.view-evenementen .item-list li .views-field-evenement-van-1, .view-evenementen .item-list li .views-field-title,
.view-evenementen .item-list li .views-field-locatienaam {
  width: 100%;
  text-align: center;
}

.view-evenementen .item-list li .views-field-evenement-van-1 {
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.view-evenementen .item-list li .views-field-evenement-van h1 {
  font-size: 5.5rem;
  line-height: 3rem;
  margin-left: 40px;
  width: 55px;
  text-align: center;
}

.view-evenementen .item-list li .views-field-title a {
  font-size: 1.9rem;
  font-family: DCCAsh, sans-serif;
  line-height: 2rem;
  margin: 0;
  margin-top: 5px;
}

.view-evenementen .item-list li .views-field-evenement-van::before,
.view-evenementen .item-list li .views-field-created::before {
  font-size: 11rem;
  left: 30px;
  top: 5px;
}

.view-evenementen .item-list li .views-field-locatienaam {
  line-height: 100%;
  font-size: 1.2rem;
}

.view-evenementen .item-list li .views-field-nothing {
  display: none;
}

.view-evenementen-kalender .views-table tr, .view-evenementen-kalender .views-table td.active {
  background-color: #E7E0DE;
}

.view-evenementen-kalender .views-table td.views-field-evenement-van {
  width: 18%;
  clear: both;
}

.view-evenementen-kalender .views-table td.views-field-title {
  width: 40rem;
}

.views-table .views-field-evenement-van::before {
  content: "";
}

.view-evenementen-kalender .views-table .views-field-title p {
  font-size: 1.3rem;
}

.view-evenementen-kalender .views-table .views-field-title a {
  width: 100%;
  font-size: initial;
}

.view-evenementen-kalender .views-table .views-field-title .evenementen-type {
  float: right;
  margin: 0.6rem 0 0 0.6rem;
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: #48454B;
}

.view-evenementen-kalender .views-table .views-field-evenement-van .sgvid {
  display: block;
  color: #748D26;
  font-weight: normal;
}

.view-evenementen-kalender .views-view-grid tr {
  height: 170px;
}

.view-evenementen-kalender .views-view-grid td {
  width: 155px;
  color: #48454B;
  text-align: center;
  font-weight: bold;
}

.view-evenementen-kalender .views-view-grid a {
  color: #48454B;
}

.view-evenementen-kalender .views-view-grid {
  width: 940px;
  margin-top: 10px;
  margin-bottom: 0;
}

.views-view-grid .views-field-evenement-van-1 {
  margin-top: 5px;
  margin-bottom: -5px;
  font-size: 2rem;
  text-transform: uppercase;
}

.evenementen-background-paper {
  margin-top: -147px;
  width: 156px;
  height: 164px;
}

.evenementen-background-paper-ingeschreven {
  width: 97px;
  height: 57px;
  display: block;
  background: url(/sites/all/themes/theme2014/assets/img/view-kalender-item-background-ingeschreven.png) no-repeat left top;
  text-indent: -99999px;
  z-index: 99;
  position: absolute;
  left: 3px;
  top: -20px;
}

.evenementen-background-paper-organisator {
  width: 9.1rem;
  height: 5.3rem;
  display: block;
  background: url(/sites/all/themes/theme2014/assets/img/view-kalender-item-background-organisator.png) no-repeat left top;
  text-indent: -99999px;
  z-index: 99;
  position: absolute;
  left: -0.7rem;
  top: 8.5rem;
}

.evenementen-background-paper-onzichtbaar {
  width: 21px;
  height: 16px;
  display: block;
  background: url(/sites/all/themes/theme2014/assets/img/view-kalender-item-background-onzichtbaar.png) no-repeat left top;
  text-indent: -99999px;
  z-index: 99;
  position: absolute;
  top: 99px;
  left: 8px;
  cursor: help;
}