.view-inschrijvingen fieldset {
  margin: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.view-inschrijvingen legend {
  top: 1.25rem;
  left: 0;
}

.view-inschrijvingen label {
  font-size: 1.3rem;
}

.view-inschrijvingen #edit-field-sgv-voornaam-value {
  width: 12rem;
}

.view-inschrijvingen #edit-field-sgv-naam-value {
  width: 12rem;
}

.view-inschrijvingen #edit-groep {
  width: 14rem;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.7em;
}

.view-inschrijvingen #views-bulk-operations-select input {
  margin: 0rem !important;
  margin-top: 1rem !important;
  margin-left: 1rem !important;
}

.view-inschrijvingen #views-bulk-operations-select input:nth-child(2) {
  margin-top: 4rem !important;
}

.view-inschrijvingen .views-field-created {
  float: initial;
}

.view-inschrijvingen .views-field-evenement-van::before, .view-inschrijvingen .views-field-created::before {
  content: "";
}

.view-inschrijvingen tr {
  background-color: #FFF;
}

.view-inschrijvingen input[type='checkbox'] {
  position: relative;
  top: 3px;
}

#annuleer_inschrijving, .greenbutton, .orangebutton, .bluebutton,
.redbutton {
  display: inline-block;
  min-width: 8rem;
  margin: 0 0 5px 0;
  padding: 0.5rem 1rem !important;
  text-align: center;
  color: #48454B;
  text-decoration: none;
}

#annuleer_inschrijving:hover, .greenbutton:hover, .orangebutton:hover,
.bluebutton:hover, .redbutton:hover, .brownbutton, .brownbutton:hover {
  color: #FFF;
  background-color: #572600;
  text-decoration: none;
}

.inschrijving-werkwinkelsblokken-tabel tr.even, .inschrijving-werkwinkelsblokken-tabel tr.odd {
  background-color: #BDD732;
  display: block;
  margin-bottom: 5px;
}

.form_evenement_inschrijving tr.even, .form_evenement_inschrijving tr.odd {
  padding: 0 1rem;
  border-bottom: none;
}

.inschrijving-werkwinkelsblokken-tabel .form-item label.option {
  color: transparent;
}

.inschrijving-werkwinkelsblokken-tabel thead {
  display: none;
}

.inschrijving-werkwinkelsblokken-tabel {
  width: 100%;
}

.inschrijving-werkwinkelsblokken-tabel td {
  vertical-align: middle;
}

.inschrijving-werkwinkelsblokken-tabel-naam {
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 3px;
  font-size: 1.2rem;
}

.inschrijving-werkwinkelsblokken-tabel-beschrijving {
  margin: 0px;
  padding-bottom: 5px;
}

.inschrijving-werkwinkelsblokken-tabel-inschrijvingen {
  font-size: 1.5rem;
  color: #748D26;
  margin-left: 10px;
  text-align: right;
  width: 85px;
}

.inschrijving-werkwinkelsblokken-tabel .ui-progress-bar {
  margin-left: 100px;
}

.inschrijving-werkwinkelsblokken-tabel-check {
  width: 30px;
}

.inschrijving-werkwinkelsblokken-tabel tr.odd .form-item, .inschrijving-werkwinkelsblokken-tabel tr.even .form-item {
  white-space: nowrap;
}

.inschrijving-werkwinkelsblokken-tabel tr.odd .inschrijving-werkwinkelsblokken-tabel-beschrijving .form-item,
.inschrijving-werkwinkelsblokken-tabel tr.even .inschrijving-werkwinkelsblokken-tabel-beschrijving .form-item {
  white-space: normal;
}