/* Login */
#user-login .login-form-wrapper {
  float: left;
}

#user-login #login-logo {
  float: left;
  padding-left: 20px;
  padding-top: 3em;
}

#user-login #login-list {
  float: left;
  padding-left: 20px;
  padding-top: 2.5em;
}