.view-nieuwsbrief h1 {
  font-size: 20px;
}

.view-nieuwsbrief a {
  color: #748d26;
  text-decoration: none;
}

.view-nieuwsbrief a:hover {
  color: #666;
  text-decoration: underline;
}

.view-nieuwsbrief > .view-header {
  width: 620px;
  float: left;
}

.view-nieuwsbrief > .view-content {
  width: 620px;
  float: left;
}

.view-nieuwsbrief > .view-content .item-list {
  display: block;
  clear: both;
  position: relative;
  margin: 0 0 40px 0;
}

.view-nieuwsbrief > .view-content .item-list > h1.categorie {
  border-color: #748d26;
  border-style: solid;
  border-width: 0 0 5px 0;
  font-variant: small-caps;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #000;
}

.view-nieuwsbrief > .view-content .item-list > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.view-nieuwsbrief > .view-content .item-list > ul > li {
  list-style: none;
  display: block;
  clear: both;
  position: relative;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  overflow: none;
  border-color: #748d26;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.view-nieuwsbrief > .view-content .item-list > ul > li:last-child {
  border-width: 0;
}

.view-nieuwsbrief > .view-content .item-list > ul > li .views-field-view-node a,
.view-nieuwsbrief > .view-footer > div.footer-right > div .item-list > ul > li .views-field-view-node a,
.view-nieuwsbrief > .view-footer > div.footer-right > div .item-list > ul > li .views-field-url a,
.view-nieuwsbrief > .view-footer > div.footer-right > div .item-list > ul > li .views-field-nothing a,
.view-nieuwsbrief > .view-footer > div.footer-right > div .item-list > ul > li .views-field-path a {
  font-variant: small-caps;
  font-weight: bold;
  text-decoration: none;
}

.view-nieuwsbrief > .view-content .item-list > ul > li .views-field-field-nieuws-afbeelding-fid,
.view-nieuwsbrief > .view-content .item-list > ul > li .views-field-field-carousel-item-afbeelding-fid,
.view-nieuwsbrief > .view-content .item-list > ul > li .views-field-field-evenement-afbeelding-fid {
  float: left;
  margin: 0 10px 10px 0;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div .item-list > ul > li h1 {
  font-size: 1.5em;
  color: #000;
}

.view-nieuwsbrief > .view-footer {
  width: 290px;
  margin: 0 0 0 10px;
  float: right;
  display: block;
}

.view-nieuwsbrief > .view-footer img.shadow {
  float: left;
  display: block;
}

.view-nieuwsbrief > .view-footer > div.footer-right {
  float: right;
  display: block;
  width: 270px;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div {
  margin: 0 0 5px 0;
  width: 270px;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div > h1 {
  border-style: solid;
  border-width: 0 0 5px 0;
  font-variant: small-caps;
  font-weight: bold;
  padding: 0;
  margin: 0 0 5px 0;
  color: #000;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div > h1 > a {
  color: #000;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div > h2 {
  border-style: solid;
  border-width: 0 0 2px 0;
  font-variant: small-caps;
  font-weight: bold;
  text-align: right;
  padding: 0;
  margin: 0 0 5px 0;
  color: #000 !important;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div > h2 > a.external {
  font-variant: small-caps;
  text-align: right;
  color: #000 !important;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div .item-list > ul {
  margin: 0;
  padding: 0;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div .item-list > ul > li {
  border: 0;
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div .item-list > ul > li h1 {
  font-size: 14px;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div .item-list > ul > li img {
  max-width: 270px;
  max-height: auto !important;
  width: auto !important;
  height: auto !important;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div#gouw h1, .view-nieuwsbrief > .view-footer > div.footer-right > div#gouw h2,
.view-nieuwsbrief > .view-footer > div.footer-right > div#gouw .item-list > ul > li {
  border-color: #f5821f;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div#vorming h1,
.view-nieuwsbrief > .view-footer > div.footer-right > div#vorming h2,
.view-nieuwsbrief > .view-footer > div.footer-right > div#vorming .item-list > ul > li {
  border-color: #ed1c23;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div#kalender .item-list > ul > li {
  border: 0;
  margin: 0;
  padding: 0;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div#hopper-winkel h1,
.view-nieuwsbrief > .view-footer > div.footer-right > div#hopper-winkel h2,
.view-nieuwsbrief > .view-footer > div.footer-right > div#hopper-winkel .item-list > ul > li {
  border-color: #930020;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div#hopper-jeugdverblijf h1,
.view-nieuwsbrief > .view-footer > div.footer-right > div#hopper-jeugdverblijf h2,
.view-nieuwsbrief > .view-footer > div.footer-right > div#hopper-jeugdverblijf .item-list > ul > li {
  border-color: #6a6f34;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div#vacatures h1,
.view-nieuwsbrief > .view-footer > div.footer-right > div#vacatures h2,
.view-nieuwsbrief > .view-footer > div.footer-right > div#vacatures .item-list > ul > li {
  border-color: #256f91;
}

.view-nieuwsbrief > .view-footer > div.footer-right > div .item-list > ul > li .field-content h1 {
  margin: 0 0 5px 0;
  padding: 0;
}