.tabs {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #E7E0DE;
}
.tab {
  display: none;
}

.tab {
  font-family: DCCAsh, sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 2rem;
  cursor: pointer;
  float: right;
}

.tab.search-tab {
  margin-left: 20px;
  color: #48454B;
}

.tab.search-tab::before {
  content: "\f001";
  font-family: scouts;
  font-size: 1.8rem;
  color: #48454B;
  position: relative;
  margin-right: 7px;
}

.tab.menu-tab {
  color: #E7E0DE;
}

.tab.menu-tab:hover {
  color: #FFF;
}

.tab.menu-tab::after {
  content: " ";
  display: inline-block;
  width: 0px;
  height: 3px;
  margin-left: 10px;
  border-left: 5px solid transparent;
  border-top: 7px solid #E7E0DE;
  border-right: 5px solid transparent;
}

div.vertical-tabs, div.vertical-tabs ul.vertical-tabs-list {
  border: none !important;
}

div.vertical-tabs ul.vertical-tabs-list {
  margin: 0 -100% 0 0 !important;
}

div.vertical-tabs ul.vertical-tabs-list li {
  border: none !important;
  border-bottom: 1px solid #E7E0DE !important;
  background-color: rgba(231, 224, 222, 0.5) !important;
  overflow: hidden;
}

div.vertical-tabs ul.vertical-tabs-list li:last-child {
  border-bottom: none !important;
}

div.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color: #E7E0DE !important;
}

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 0 !important;
}

.ui-tabs {
  padding: .2em;
  zoom: 1;
}

.ui-tabs .ui-tabs-nav {
  list-style: none;
  position: relative;
  padding: .2em .2em 0;
}

.ui-tabs .ui-tabs-nav li {
  position: relative;
  float: left;
  border-bottom-width: 0 !important;
  margin: 0 .2em -1px 0;
  padding: 0;
}

.ui-tabs .ui-tabs-nav li a {
  float: left;
  text-decoration: none;
  padding: .5em 1em;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  padding-bottom: 1px;
  border-bottom-width: 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: text;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
  padding: 1em 1.4em;
  display: block;
  border-width: 0;
  background: none;
}

.ui-tabs .ui-tabs-hide {
  display: none !important;
}
