/* Taxonomy-pagina */
.page-taxonomy .title {
  margin-top: 2rem;
}

/* Werkwinkels */
.view-werkwinkels .item-list li.views-row {
  padding: 2rem;
  background-color: #E7E0DE;
  margin-bottom: 2rem;
}


/* Overzicht verzekeringen en acties aanbevelingen */
tr.yellow_bg_on_hover:hover {
  background-color: #DBE68E;
}

.node-type-techniek img.field-icon-application-pdf {
  /* Deze pdfs zouden beter een publicatie worden. */
  display: inline-block;
  position: relative;
  top: 4px;
  padding-right: 4px;
}

/* Vacature pagina */
.node-type-vacature .nd-region-header .field-vacature-intro {
  margin: 10px 0 30px 0;
}

.node-type-vacature .nd-region-header .field-title h1 {
  text-align: center;
}

/* Facebook like box */
#block-block-11 {
  background-color: #E7E0DE;
  position: relative;
  margin: 4em 0 3.5em;
}

#block-block-11 p {
  text-align: center;
}

#block-block-11 iframe {
  display: inline-block;
}

#block-block-11 .title::before {
  display: none;
}

#block-block-11 ul {
  margin: 0;
}

#block-block-11::before {
  content: '';
  position: absolute;
  top: -35px;
  right: 0;
  height: 50px;
  width: 100%;
  background: url(../img/sprite.png) no-repeat center -143px #E7E0DE;
  -webkit-transform: skew(0deg, -1.5deg);
  transform: skew(0deg, -1.5deg);
  z-index: -1;
}

#block-block-11::after {
  content: '';
  position: absolute;
  bottom: -35px;
  width: 100%;
  height: 60px;
  background: url(../img/sprite.png) no-repeat center -136px #E7E0DE;
  -webkit-transform: skew(0deg, 3deg);
  transform: skew(0deg, 3deg);
  z-index: -1;
  left: 0;
}

#block-block-11::after::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
}

/* Verberg de verkorte preview */
main .preview > h3:first-child,
main .preview > div:nth-child(2),
main .preview > div > h2.title {
  display: none;
}

/* Ruimte rond submit-knop */
main #node-form .standard {
  margin-bottom: 2em;
}

/* Ruimte rond submit-knop */
main.has-children #node-form {
  margin-bottom: 2.5em;
}

#node-form .content-multiple-drag {
  vertical-align: top;
}

.tags {
  margin-bottom: 2rem;
}

.tags ul.links li {
  padding: 0;
}

.tags span {
  display: inline-block;
  position: relative;

  height: 3rem;
  margin: 1rem 1rem 0 1.5rem;
  padding: 0 1rem 0 1.2rem;

  line-height: 3rem;
  background: #e7e0de;
  color: #572600;
  text-decoration: none;
  font-weight: bold;
  text-transform: lowercase;
}

.tags span::before{
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -1.5rem;
  width: 0;
  height: 0;
  border-color: transparent #E7E0DE transparent transparent;
  border-style: solid;
  border-width: 1.5rem 1.5rem 1.5rem 0;
}

.tags span::after{
  content:"";

  position: absolute;
  top: 1.3rem;
  left: 0;
  float: left;

  width: 0.5rem;
  height: 0.5rem;

  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;

  background:#fff;
}


table {
  width: 100%;
}

thead th,
td {
  font-size: 1.3rem;
  padding: 1rem;
  line-height: normal;
}

/* De achtergrond wordt meer wit op alle pagina's waar er content niet in
 ondoorzichtige blokken staat, zoals nodes zonder children en custom modules. */
.not-front:not(.page-home) main:not(.has-children) {
  box-shadow: 0 0 4rem 4rem rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

#messages {
  margin-bottom: 1em;
}

/* Systeemberichten: warnings, notices, messages, ... */
div.messages {
  padding: 1em;
  font-size: 1.5em;
}

img.field-icon-application-pdf {
  display: none;
}
