dl.search-results.node-results {
  max-width: 50em;
}

dl.search-results.node-results dt.title {
  font-size: 1.6rem;
  font-weight: bold;
}

dl.search-results.node-results dt.title:first-letter {
  text-transform: uppercase;
}

#search-form fieldset.search-advanced .criterion {
  padding: 0;
  margin: 0;
}

#search-form fieldset.search-advanced .criterion:nth-child(1) {
  float: left;
  width: 225px;
}

#search-form fieldset.search-advanced .criterion:nth-child(2) {
  float: left;
}

#search-form fieldset.search-advanced .criterion:nth-child(3) {
  float: none;
}

#search-form fieldset.search-advanced .criterion:nth-child(3) .form-checkboxes {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

dl.search-results dt {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

dl.search-results dd {
  margin-bottom: 2rem;
}

dl.search-results a {
  font-weight: normal;
}

.search-results dt a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.search-results dd > a:first-child {
  text-decoration: none;
}