// -------------------------------------------------------------------------
// Buttons
// -------------------------------------------------------------------------
#children .field-content-nothing,
.view-footer a {
  display: inline-block;
  font-family: DCCAsh, sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  height: 40px;
  letter-spacing: 1px;
  line-height: 1.5;
  overflow: hidden;
  padding-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
}

#children .field-content-nothing::before,
.view-footer a::before {
  content: '\f002';
  font-family: scouts;
  font-size: 1.9rem;
  padding-right: 5px;
  position: relative;
  top: 2px;
}

// rgba(0, 0, 0, 0) = wit?
#children .field-content-nothing::after,
.view-footer a::after {
  border-bottom: 4px solid $wit;
  border-left: 150px solid $svg-lichtgroen;
  border-top: 0 solid $wit;
  content: '';
  display: block;
  height: 32px;
  margin-left: -5px;
  position: relative;
  top: -31px;
  -webkit-transform: skew(-15deg, 0deg);
  transform: skew(-15deg, 0deg);
  width: 0;
  z-index: -1;
}

// add this class to put an arrow in front of a link
a.arrow-link,
.views-field-nothing a {
  font-family: DCCAsh, sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

a.arrow-link::before,
.views-field-nothing a::before {
  content: '\f002';
  font-family: scouts;
  font-size: 1.4em;
  padding-right: .3em;
  position: relative;
  top: .1em;
}

// add this class to put a shape around a link
a.shape-link,
a.long-shape-link,
.views-field-nothing a {
  background-size: 100%;
  display: inline-block !important;
  height: 2.2em;
  line-height: 1.6;
  min-width: 7em;
  overflow: hidden;
  padding-right: .6em;
  position: relative;
  text-align: center;
  z-index: 1;
}

// Bvb. 'Lees meer'
a.shape-link {
  background: url($path-img + 'btn-green.png') no-repeat 0 3px;
}

a.long-shape-link,
a.long-grey-link {
  display: inline-block !important;
  font-size: 2rem;
  height: auto !important;
  margin: 1rem 0;
  max-width: 100%;
  min-width: 7em;
  padding: 0 1em;
  width: initial;
}

a.long-shape-link {
  background: url($path-img + 'btn-green.png') no-repeat 0 0 / calc(100% + 2em) auto;
}

a.long-grey-link {
  background: url($path-img + 'btn-70.png') no-repeat 0 -1px / calc(100% + 2em) auto;
  color: $svg-bruin;
}

a.arrow-link {
  background-size: 100% 100%;
  height: 42px;

  // a.arrow-link:hover
  &:hover {
    color: $svg-bruin;
  }

  // a.arrow-link.closed
  &.closed {
    opacity: .5;

    // a.arrow-link.closed:hover
    &:hover {
      color: $svg-donkergroen;
    }
  }
}

.views-field-nothing a {
  background: url($path-img + 'btn-70.png') no-repeat 0 3px;
}

.view-dom-id-5 .views-field-nothing a {
  background: transparent;
}

button,
input[type="reset"],
input[type="submit"] {
  background-color: $svg-lichtgroen;
  border: 0;
  color: $svg-bruin;
  cursor: pointer;
  font-family: 'Fjalla One', sans-serif;
  min-height: 3rem;
  min-width: 9rem;
}

button:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
  background-color: $ebb;
  color: $grijs-zwart;
}

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  color: $grijs-zwart;
}
