// -------------------------------------------------------------------------
// Form elements
// --------------------------------------------------------------------------
select {
  min-height: 3rem;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='search'],
input[type='date'],
input[type='time'],
textarea,
select {
  font-family: 'Open Sans', sans-serif;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='search'],
input[type='date'],
input[type='time'],
input[type='password'] {
  font-size: 1.6rem;
  height: 3rem;
  padding-left: 1rem;
}

textarea {
  font-size: 1.6rem;
  margin-top: .5rem;
  padding-left: 1rem;
}

label {
  font-size: 1.6rem;
  margin-bottom: .5rem;
}

input[type="radio"],
input[type="checkbox"] {
  height: 1.7rem;
  position: relative;
  top: .23em;
  width: 1.7rem;
}

input[type="color"] {
  background-color: $wit;
  height: 3rem;
  width: 3rem;
}

.container-inline-date .form-item input {
  min-width: 11rem;
}

// Forms
#node-form .collapsible {
  margin-top: 1em;
}

fieldset,
fieldset fieldset fieldset,
fieldset fieldset fieldset fieldset fieldset {
  background-color: $ebb;
  margin: 2rem 0;
  position: relative;
}

fieldset fieldset,
fieldset fieldset fieldset fieldset,
fieldset fieldset fieldset fieldset fieldset fieldset {
  background-color: $svg-lichtgroen;
}

fieldset > * {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

fieldset > :last-child {
  margin-bottom: 2rem;
}

// Hack om in Safari 8 de grootte van fieldsets te fixen.
// http://stackoverflow.com/a/1828940
fieldset::before,
fieldset::after {
  content: '\00a0';
  display: block;
  height: 0;
  overflow: hidden;
}

legend {
  color: $svg-bruin;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.2rem;
  max-width: calc(100% - 4rem);
  position: absolute;
  top: 1em;
}

legend,
legend * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

legend + *,
legend + #edit-operation-wrapper > :first-child,
legend + input[type=hidden] + *,
legend + input[type=hidden] + input[type=hidden] + *,
legend + input[type=hidden] + input[type=hidden] + input[type=hidden] + * {
  margin-top: 7.5rem !important;
}

fieldset tr.even,
fieldset tr.odd {
  background-color: $svg-lichtgroen;
  border-bottom: 1px solid $ebb;
}

fieldset thead th {
  border-bottom: 1px solid $ebb;
}

fieldset .content-add-more {
  margin: 2rem 0;
}

fieldset.collapsed {
  height: 7.5rem !important;
  margin-bottom: 2rem !important;
}

fieldset table {
  margin-bottom: 2rem;
  width: calc(100% - 4rem);
}

fieldset textarea {
  width: 100% !important;
}

fieldset input[type="text"] {
  // Komt ongeveer overeen met de standaardbreedte (size=60) bij een desktop-resolutie.
  width: calc(100px + 50%);
}

.description fieldset {
  margin: 1rem 0 !important;

  // .description fieldset.collapsed
  &.collapsed {
    height: 5rem !important;
  }
}

#views-bulk-operations-select legend,
.description legend {
  font-size: 1.6rem;
}

#views-bulk-operations-select legend + *,
.description legend + * {
  margin-top: 5rem !important;
}

.form-item {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.resizable-textarea {
  width: initial !important;
}

.form-checkboxes.error,
.form-radios.error {
  background: $grijs;
  border: 2px solid $rood;
}

.form-required {
  display: inline;
}

// Custom checkboxen voor werkwinkels
.inschrijving-werkwinkelsblokken-tabel-check {
  width: 30px;
}

.inschrijving-werkwinkelsblokken-tabel tr.odd .form-item,
.inschrijving-werkwinkelsblokken-tabel tr.even .form-item {
  white-space: nowrap;
}

.inschrijving-werkwinkelsblokken-tabel tr.odd .inschrijving-werkwinkelsblokken-tabel-beschrijving .form-item,
.inschrijving-werkwinkelsblokken-tabel tr.even .inschrijving-werkwinkelsblokken-tabel-beschrijving .form-item {
  white-space: normal;
}
