// Links
// ----------------------------------------------------------------------------
a {
  color: $svg-donkergroen;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}

li a.active {
  color: $svg-donkergroen; // override de default layout van drupal
}

a:hover,
li a.active:hover {
  color: $svg-bruin;
  transition: .3s;
}
