// Lists
// ----------------------------------------------------------------------------
ul {
  // gelijk met de linkerrand van de gewone tekst
  list-style: disc;
  margin-left: 16px;

  &.menu,
  &.menu li {
    list-style: none;
    margin: 0;
  }

  // ul.pager
  &.pager {
    margin-top: 2rem;
  }
}

ol {
  padding-left: 2.5rem;
}
