// Styling Tabs
.tabs {
  border-bottom-style: solid;
  border-color: $ebb;
  border-width: 1px;
}

ul.primary {
  line-height: inherit;
  margin: 0;
  padding: 0;
  white-space: initial;

  // ul.primary li a .tab
  li a .tab {
    background-color: $ebb;
    border-bottom: 0;
    border-color: $ebb;
    border-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 1px;
    height: 2rem;
    padding-left: 1.5rem;
    padding-top: 0;
  }
}

ul.primary li a {
  border-bottom: none !important;
  font-size: 1.4rem;
  min-width: 11rem;
  text-align: center;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
  background-color: $wit;
}

ul.primary li a .tab:hover {
  color: $grijs-zwart;
}
