// Styling Tabs
.tabs {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #E7E0DE;
}

ul.primary {
  white-space: initial;
  padding: 0;
  margin: 0;
  line-height: inherit;
}

ul.primary li a .tab {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #E7E0DE;
  border-bottom: none;
  height: 2rem;
  padding-left: 1.5rem;
  padding-top: 0;
  background-color: #E7E0DE;
}

ul.primary li a {
  min-width: 11rem;
  text-align: center;
  font-size: 1.4rem;
  border-bottom: none !important;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
  background-color: #FFF;
}

ul.primary li a .tab:hover {
  color: #48454B;
}
