// Include paths.
$path-fonts:             '../fonts/';

// Globale Kleuren
$wit:                    #fff;
$wit-1:                  #fdffef;
$black:                  #343434;
$rood:                   #f00;
$reset-wit:              #dde7ea;
$reset-wit-2:            #efefef;
$ebb:                    #e7e0de;
$grijs:                  rgba(255, 255, 255, .5);
$grijs-zwart:            #48454b;
$licht-geel:             #dbe68e;

// Huisstijl kleuren -> Scouts en Gidsen vlaanderen.
$svg-donkergroen:        #748d26;
$svg-lichtgroen:         #bdd732;
$svg-lichtgroen-2:       #bed630;
$svg-rood:               #ed1c23;
$svg-blauw:              #256f91;
$svg-oranje:             #f5821f;
$svg-bruin:              #572600;

// Huisstijl kleuren -> hopper

$hopper-groen-donker:    #6a6f34; // Jeugdverblijf
$hopper-groen-licht:     #6e882e; // Jeugdverblijf
$hopper-rood-donker:     #930010; // Winkel
$hopper-rood-licht:      #c30;    // Winkel

// Huisstijl kleuren -> generatie wij.
$generatie-wij-groen:    #5e9d00;
