// Include paths.
$path-fonts:             '../fonts/';

// Huisstijl kleuren -> Scouts en Gidsen vlaanderen.
$svg-donkergroen:        #748d26;
$svg-lichtgroen:         #bdd732;
$svg-rood:               #ed1c23;
$svg-blauw:              #256f91;
$svg-oranje:             #f5821f;
$svg-bruin:              #572600;

// Huisstijl kleuren -> hopper

$hopper-groen-donker:    #6a6f34; // Jeugdverblijf
$hopper-groen-licht:     #6e882e; // Jeugdverblijf
$hopper-rood-donker:     #930010; // Winkel
$hopper-rood-licht:      #cc3300; // Winkel

// Huisstijl kleuren -> generatie wij.
$generatie-wij-groen:    #5e9d00;
