@media screen and (min-width:1210px) {
  .globale_menubalk {
    height: 25px;
    width: 100%;
    z-index: 997;
    background: #246b8c;
    color: white;
    font-size: 9pt;
    vertical-align: middle;
  }

  .globale_menubalk #items {
    margin-left: 1rem;
  }

  .globale_menubalk #items .menu_item {
    display: inline;
  }

  .globale_menubalk #items img {
    padding-bottom: 5px;
  }
}