
@media screen and (max-width:939px) {
  #qr-code {
    float: none;
    clear: left;
    margin-left: 0;
    width: 100%;
  }

  #qr-code img {
    float: left;
    margin-right: 2rem
  }

  h2.faq {
    margin-top: 14rem;
  }

  .view-FAQ-short {
    width: 100%;
  }
}