@media screen and (min-width:940px) {
  .media-query {
    display: none;
    width: 3px;
  }

  .container {
    width: 940px;
    padding: 0 47px;
    overflow: hidden;
    clear: both;
  }

  .front main .content {
    width: 100%;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  .views-field-nothing a {
    font-size: 1.6rem;
  }

  header.region {
    background: url(/sites/all/themes/theme2014/assets/img/header_ribbon-1210.png) no-repeat center top transparent;
    height: 200px;
  }

  .front header.region, .page-home header.region {
    height: 474px;
  }

  #global-menu .container {
    width: 890px;
  }

  .fotoheader-wrapper {
    height: 470px;
  }

  header.region .logo {
    width: 60px;
    padding-top: 65px;
    margin-left: 10px;
    float: left;
  }

  header.region .logo a {
    width: 60px;
    display: block;
  }

  header.region #block-search-0 {
    float: right;
    position: relative;
    left: 0;
    width: 220px;
    top: 60px;
    height: 4rem;
    max-height: 4rem;
    overflow: hidden;
  }

  #edit-search-block-form-1 {
    padding: 2px 5px 2px;
  }

  header.region #block-search-0 #search-block-form .form-submit {
    margin: 0;
    font-size: 1.8rem;
  }

  #block-menu_block-3 {
    text-align: left;
  }

  #block-block-14 a.hopper-winkel, #block-block-14 a.hopper-jeugdverblijf {
    height: 11rem;
    background-size: 82%;
  }

  div[id * ="block-menu"] {
  width: auto;
  margin: 0;
  display: block;
}

  .close {
    display: none !important;
  }

  #block-menu-menu-menu-2014-top {
    position: absolute;
    top: 170px;
    left: 54%;
    width: auto;
  }

  #block-menu_block-2 {
    background: transparent;
    display: block;
    width: 87%;
    float: right;
    z-index: 1;
    margin-top: 65px;
    position: relative;

    // #block-menu_block-2::before
    &::before {
      display: none;
    }

    // #block-menu_block-2 ul
    ul {
      position: relative;
      padding: 0 -1rem 0 1rem;
      text-align: justify;
      line-height: 0;
    }
  }

  #block-menu_block-2 ul li {
    display: inline-block;
    max-width: 12rem;
    padding: 0;
    text-align: center;
    vertical-align: top;
  }

  #block-menu_block-2 ul:last-child::after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  #block-menu_block-2 ul li a {
    line-height: 0.95;
    display: block;
    padding: 0 1rem 2.5rem;
    background: url(/sites/all/themes/theme2014/assets/img/sprite.png) no-repeat transparent;
  }

  #block-menu_block-2 ul li a:hover {
    color: #48454B;
  }

  #block-menu_block-2 ul li:nth-child(1) a {
    background-position: 10px 23px;
  }

  #block-menu_block-2 ul li:nth-child(1) a:hover {
    background-position: 10px -45px;
  }

  #block-menu_block-2 ul li:nth-child(2) a {
    background-position: -110px 23px;
  }

  #block-menu_block-2 ul li:nth-child(2) a:hover {
    background-position: -110px -45px;
  }

  #block-menu_block-2 ul li:nth-child(3) a {
    background-position: -215px 23px;
  }

  #block-menu_block-2 ul li:nth-child(3) a:hover {
    background-position: -215px -45px;
  }

  #block-menu_block-2 ul li:nth-child(4) a {
    background-position: -346px 40px;
  }

  #block-menu_block-2 ul li:nth-child(4) a:hover {
    background-position: -346px -30px;
  }

  #block-menu_block-2 ul li:nth-child(5) a {
    background-position: -611px 40px;
  }

  #block-menu_block-2 ul li:nth-child(5) a:hover {
    background-position: -611px -30px;
  }

  #block-menu_block-2 ul li:nth-child(6) a {
    background-position: -602px 23px;
  }

  #block-menu_block-2 ul li:nth-child(6) a:hover {
    background-position: -602px -45px;
  }

  #block-menu_block-2 ul li:nth-child(7) a {
    background-position: -741px 40px;
  }

  #block-menu_block-2 ul li:nth-child(7) a:hover {
    background-position: -741px -30px;
    color: #572600;
  }

  #block-menu_block-3 {
    display: block;
    clear: both;
    background-color: transparent;
    overflow: visible;
    position: relative;
    top: -16px;
    width: 100%;
    margin-top: 0;
    border: none;
  }

  #block-menu_block-3 h2 {
    border: none;
    text-align: left;
    margin-left: 18.5%;
    cursor: pointer;
    color: $wit;
    padding-top: 6px;
  }

  #block-menu_block-3 h2::after {
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    margin-bottom: 1px;
    border-top: 6px solid $wit;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: relative;
    margin-left: 10px;
    top: -2px;
  }

  #block-menu_block-3::after {
    display: none;
  }

  #block-menu_block-3 .content {
    display: none;
    position: relative;
    background-color: #748D26;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
    border-bottom: 3px solid #572600;
    padding: 15px;
  }

  #block-menu_block-3 .content::before {
    display: block;
    content: "\f005";
    font-family: scouts;
    font-size: 1.8rem;
    color: #DBE68E;
    position: absolute;
    right: 30px;
    top: 21px;
    cursor: pointer;
  }

  #block-menu_block-3 .content .menu {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }

  #block-menu_block-3 .content .menu li[class * ="menu-mlid"]::before {
  width: 9px;
  border-top-width: 4px;
  border-left-width: 6px;
  border-bottom-width: 4px;
  margin-top: 6px;
}

  #block-menu_block-3 .content .menu li[class * ="menu-mlid"] a {
  font-size: 1.6rem;
}

  #block-menu_block-4 {
    position: absolute;
    top: 143px;
    left: 55%;
    margin-left: 253px;
  }

  #block-menu_block-4::before {
    margin-left: 48px;
  }

  #block-menu_block-4 .content::before {
    text-align: right;
  }

  #block-menu_block-4 .content ul.menu {
    display: none;
  }

  footer.region {
    background: url(/sites/all/themes/theme2014/assets/img/footer_ribbon.png) no-repeat calc(50% + 88px) top transparent;
    height: 350px;
    padding: 30px 0px;
    text-align: left;
  }

  footer.region .container {
    width: 940px;
    padding: 0 47px;
  }

  footer.region .footer-top {
    background-color: transparent;
    float: left;
    padding: 15px 15px 0 0;
  }

  footer.region .footer-top .logo {
    width: 87px;
  }

  footer.region .footer-bottom .contact {
    float: left;
    line-height: 1.4;
    width: 44%;
  }

  footer.region .footer-bottom .externe-links {
    float: right;
    width: 53%;
  }

  footer.region .footer-bottom ul {
    max-width: none;
    margin: 40px 0;
  }

  footer.region .footer-bottom ul li {
    width: 50%;
  }

  footer.region .footer-bottom .logo-hopper, footer.region .footer-bottom .logo-vlaanderen {
    width: 145px;
  }

  footer.region .footer-bottom ul li:nth-child(2) {
    float: left;
    width: 40%;
  }

  .views-field-evenement-van, .views-field-created {
    width: 62px;
    padding-top: 7px;
  }

  .views-field-evenement-van a, .views-field-created a {
    text-decoration: none;
  }

  .views-field-evenement-van a p, .views-field-created a p {
    font-size: 3.4rem;
  }

  .views-field-evenement-van a p:last-child, .views-field-created a p:last-child {
    font-size: 1.8rem;
  }

  .views-field-evenement-van::before, .views-field-created::before {
    font-size: 9rem;
  }

  #block-views-indekijker-block_3 {
    margin-bottom: 1em;
  }

  .accordeon .item-list ul li.views-row .views-field-field-indekijker-afbeelding-fid img {
    min-height: 220px;
  }

  .accordeon .item-list ul li.views-row .views-field-nothing::before {
    top: -23px;
    height: 65px;
  }

  #block-views-evenementen_home-block_1 .view-content, .floating-title .view-content {
    padding: 0 2em 2em;
  }

  #block-views-evenementen_home-block_1 .views-field-title a, .floating-title .views-field-title a {
    height: auto;
    font-size: 2.1rem;
  }

  #block-views-evenementen_home-block_1 .views-field-body, .floating-title .views-field-body {
    width: 70%;
  }

  #block-views-evenementen_home-block_1 .view-footer a, .floating-title .view-footer a {
    margin-left: 3em;
  }

  .view-nieuws .view-content .views-row {
    min-height: 9.5em;
  }

  .view-nieuws .view-content .views-field-body {
    width: 75%;
  }

  .view-nieuws .view-content .views-field-field-nieuws-afbeelding-fid {
    right: 3.5em;
  }

  .full-width-block {
    margin-bottom: 2em;
  }

  .full-width-block .view-content::before {
    top: 15px;
    height: 50px;
  }

  .full-width-block .view-content .item-list .views-row .views-field-nothing a {
    width: auto;
    float: right;
    display: block;
    position: relative;
    top: -55px;
    margin: 0;
    right: 15px;
    padding: 0 20px;
    height: 35px;
    background: url(/sites/all/themes/theme2014/assets/img/btn-90.png) no-repeat transparent 0 3px;
    color: #48454B;
    line-height: 1.8;
  }

  .full-width-block .view-content .item-list .views-row .views-field-nothing a::after {
    border-left-color: #E7E0DE;
    margin-left: -0.8em;
  }

  .full-width-block .view-content .item-list .views-row .views-field-nothing span.field-content {
    height: 5px;
  }

  .has-children [id^="node-"] .content {
    padding-top: 15px;
    padding-bottom: 7px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .has-children [id^="node-"] .content p {
    font-size: 1.6rem;
  }

  main.region .field-field-ondertitel {
    font-size: 4rem;
  }

  main.has-children #children .item-list > ul {
    margin-left: -9px;
    margin-right: -9px;
  }

  main.has-children #children .item-list > ul li.views-row {
    width: 270px;
    height: 340px;
    float: left;
    margin: 0 9px 18px;
  }

  .page-home #sidebar {
    top: 20px;
    right: 47px;
  }

  #block-block-11 {
    margin-top: 4em;
  }

  #block-block-14 ul {
    height: 13rem;
  }

  #block-block-14 .hopper-winkel a, #block-block-14 .hopper-jeugdverblijf a {
    height: 90px;
  }
}
