@media screen and (min-width:1210px) {
  .media-query {
    display: none;
    width: 4px;
  }

  .container {
    width: 1210px;
    padding: 0 65px;
  }

  .front main .content {
    width: 100%;
  }

  header.region {
    background: url(/sites/all/themes/theme2014/assets/img/header_ribbon-2550.png) no-repeat center top transparent;
    height: 260px;
  }

  .front header.region, .page-home header.region {
    height: 584px;
  }

  #global-menu .container {
    width: 1120px;
  }

  .fotoheader-wrapper {
    height: 580px;
  }

  header.region .logo {
    width: 82px;
    padding-top: 80px;
    margin-left: 0px;
  }

  header.region .logo a {
    width: 82px;
  }

  #block-menu-menu-menu-2014-top {
    top: 210px;
    left: 58.5%;
  }

  #block-menu-menu-menu-2014-top ul li::before {
    width: 9px;
    border-top: 6px solid transparent;
    border-left: 7px solid #BDD732;
    border-bottom: 6px solid transparent;
    margin-bottom: 0px;
  }

  #block-menu_block-2 {
    margin-top: 75px;
    margin-right: -15px;
  }

  #block-menu_block-2 ul {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #block-menu_block-2 ul li {
    max-width: 17rem;
    box-sizing: border-box;
  }

  #block-menu_block-2 ul li a {
    font-size: 2.1rem;
    display: table-cell;
    vertical-align: middle;
    background-size: 990px;
  }

  #block-menu_block-2 ul li a:hover {
    color: #48454B;
  }

  #block-menu_block-2 ul li:nth-child(1) a {
    background-position: 10px 26px;
  }

  #block-menu_block-2 ul li:nth-child(1) a:hover {
    background-position: 10px -55px;
  }

  #block-menu_block-2 ul li:nth-child(2) a {
    background-position: -135px 26px;
  }

  #block-menu_block-2 ul li:nth-child(2) a:hover {
    background-position: -135px -55px;
  }

  #block-menu_block-2 ul li:nth-child(3) a {
    background-position: -111px 26px;
  }

  #block-menu_block-2 ul li:nth-child(3) a:hover {
    background-position: -111px -55px;
  }

  #block-menu_block-2 ul li:nth-child(4) a {
    background-position: -420px 50px;
  }

  #block-menu_block-2 ul li:nth-child(4) a:hover {
    background-position: -420px -31px;
  }

  #block-menu_block-2 ul li:nth-child(5) a {
    background-position: -583px 50px;
  }

  #block-menu_block-2 ul li:nth-child(5) a:hover {
    background-position: -583px -31px;
  }

  #block-menu_block-2 ul li:nth-child(6) a {
    background-position: -718px 26px;
  }

  #block-menu_block-2 ul li:nth-child(6) a:hover {
    background-position: -718px -55px;
  }

  #block-menu_block-2 ul li:nth-child(7) a {
    background-position: -889px 50px;
  }

  #block-menu_block-2 ul li:nth-child(7) a:hover {
    background-position: -889px -31px;
    color: #572600;
  }

  #block-menu_block-3 {
    top: -24px;
  }

  #block-menu_block-3 h2 {
    font-size: 2.1rem;
  }

  #block-menu_block-3 h2::after {
    margin-bottom: 1px;
    border-top: 8px solid $wit;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    margin-left: 14px;
  }

  #block-menu_block-3 .content {
    margin-bottom: 10px;
  }

  #block-menu_block-4 {
    top: 182px;
    left: 58.5%;
    margin-left: 325px;
    transform: scale(0.9999);
  }

  #block-menu_block-4::before {
    border-top: 7px solid #572600;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    margin: 9px 9px 0px 39px;
  }

  #block-menu-menu-menu-2014-top ul li a, #block-menu_block-4 .content::before {
    font-size: 1.5rem;
  }

  .close {
    width: 500px;
    margin: 0 13.07%;
    margin-top: 0px;
  }

  #block-block-14 a.hopper-winkel, #block-block-14 a.hopper-jeugdverblijf {
    height: 14rem;
    background-size: 100%;
  }

  footer.region {
    background: url(/sites/all/themes/theme2014/assets/img/footer_ribbon.png) no-repeat center top transparent;
    height: 450px;
  }

  footer.region .container {
    width: 1210px;
    padding: 0 60px;
  }

  footer.region .footer-top {
    padding: 15px 55px 0 7px;
  }

  footer.region .footer-top .logo {
    width: 105px;
    margin-top: 5px;
  }

  footer.region .footer-bottom .contact {
    width: 40%;
  }

  footer.region .footer-bottom .externe-links {
    width: 60%;
  }

  footer.region .footer-bottomul li {
    width: 50%;
  }

  footer.region .footer-bottom ul li:nth-child(1), footer.region .footer-bottom ul li:nth-child(2) {
    width: 50%;
  }

  footer.region .footer-bottom ul li:nth-child(1) .logo-hopper, footer.region .footer-bottom ul li:nth-child(2) .logo-vlaanderen {
    width: 175px;
    float: right;
  }

  .full-width-block .content .view-content::before {
    top: 5px;
  }

  .full-width-block .content .view-content::after {
    top: 0;
    border-width: 8px;
    border-bottom-width: 16px;
  }

  main.has-children #children .item-list > ul li.views-row {
    width: 351px;
  }

  .page-home #sidebar {
    right: 65px;
    top: 15px;
    width: 34%;
  }

  #block-block-14 ul {
    height: 16rem;
  }

  #block-block-14 .hopper-winkel a, #block-block-14 .hopper-jeugdverblijf a {
    height: 14rem;
  }

  #block-block-14 .hopper-winkel a {
    width: 70%;
  }

  #block-block-14 .hopper-jeugdverblijf a {
    width: 80%;
  }
}

@media screen and (min-width:1320px) {
  .media-query {
    display: none;
    content: "bp5";
    width: 5px;
  }

  .container {
    width: 1320px;
    padding: 0 120px;
  }

  .front header.region, .page-home header.region {
    height: 719px;
  }

  #global-menu .container {
    width: 1140px;
  }

  header.region .container {
    width: 1320px;
    padding: 0 60px;
  }

  #block-menu_block-2 ul {
    padding-left: 5rem;
  }

  .fotoheader-wrapper {
    height: 715px;
  }

  header.region .logo {
    margin-left: 40px;
  }

  #block-menu-menu-menu-2014-top {
    width: 1320px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 0 60px;
    top: 220px;
    overflow: visible;
    z-index: 105;
  }

  #block-menu-menu-menu-2014-top ul {
    float: right;
    margin-right: 90px;
    margin-top: -33px;
  }

  #block-menu_block-4 {
    width: 1320px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 0 60px;
    top: 187px;
  }

  #block-menu_block-4::before {
    margin-left: 1129px;
  }

  #block-menu_block-4 .content::before {
    float: right;
  }

  #block-menu_block-4 .content ul.menu {
    margin-top: 13px;
    margin-right: -50px;
  }

  #block-menu_block-3 {
    width: 90%;
    z-index: 102;
    top: -4px;
  }

  #block-menu_block-3 h2 {
    margin-left: 23.4%;
    display: inline-block;
    margin-top: -20px;
  }

  #block-menu_block-3 .content {
    margin-top: -10px;
  }

  #block-menu_block-2 ul li a {
    font-size: 2.2rem;
  }

  #block-menu-menu-menu-2014-top ul li a, #block-menu_block-4 .content::before {
    font-size: 1.7rem;
  }

  footer.region .container {
    width: 1320px;
    padding: 0 120px;
  }

  main.has-children #children .item-list > ul li.views-row {
    width: 348px;
  }

  .page-home #sidebar {
    right: 120px;
    width: 31%;
  }
}

@media screen and (min-width:480px) {
  .globale_menubalk #items {
    padding-right: 11rem;
  }

  .globale_menubalk #account {
    position: absolute;
    right: 2rem;
    top: 0;
    padding: 1px 0;
    text-align: center;
  }
}