@media screen and (max-width:767px) {
  #contactinfo .flip, #contactinfo .panel {
    width: 100%;
  }

  #contactinfo {
    width: 100%;
  }

  #node-10128 #contactinfo .panel #col2 {
    margin-left: 5%;
    width: 45%;
    display: inline-block;
  }

  #contactinfo .noodnummer {
    clear: both;
  }
}