.greenbutton {
  background-color: #BDD732;
}

.orangebutton {
  background-color: #F5821F;
}

.bluebutton {
  background-color: #256F91;
  color: #FFF;
}

.redbutton {
  background-color: #ED1C23;
  color: #FFF;
}