// Links
// ----------------------------------------------------------------------------
a {
  display: inline-block;
  color: #748D26;
  font-weight: bold;
  text-decoration: none;
}

li a.active {
  color: #748D26; /* override de default layout van drupal */
}

a:hover,
li a.active:hover {
  color: #572600;
  transition: 0.3s;
}